.simple-mask {
  .x-mask-msg-text {
    padding: 0;
    background: none !important;
  }
}

.x-mask {
  opacity: 0;
}

.x-mask-msg {
  background: transparent !important;
}

.x-mask.x-mask-fixed {
  opacity: 0;
}

.x-mask-msg-text {
  background: none !important;
  color: transparent !important;
}

.x-mask.x-border-box.x-mask-fixed {
  background-color: rgba(0, 0, 0, 0.5) !important;
  opacity: 1 !important;
}

.waiting-connection-mask {
  top: 1px !important;

  &.x-mask-msg {
    background: #e5e5e5 !important;
  }

  .x-mask-msg-text {
    background-image: url(images/loadmask/loading.gif) !important;
    background-repeat: no-repeat !important;
    background-position: center 0 !important;
    color: #666 ! important;
  }
}

.waiting-connection-window {
  @include box-shadow(0px 6px 20px rgba(11, 27, 38, 0.1));
  border: 0.5px solid rgba(144, 154, 181, 0.3);
  border-top: none;

  .x-window-header-default-top {
    padding: 8px 0 0 11px;
    border: none !important;
    border-top: 3px solid #FF2741 !important;
    background-color: #ffffff;
  }

  .x-window-header-title-default {
    font-size: 14px;
    font-weight: $criterion-font-weight-semibold;
    color: #000000;
  }

  .x-window-header-title-default > .x-title-icon-wrap-default > .x-title-icon-default {
    color: #FF2741;
    width: 24px;
    height: 24px;
    opacity: 1;
    font-size: 24px;
    font-weight: $criterion-font-weight-semibold;
    margin-bottom: 4px;
    font-family: Ionicons;
  }

  .x-title-text.x-title-text-default.x-title-item {
    padding-left: 9px;
  }

  .x-component {
    color: #909AB5;
    font-weight: normal;
    font-size: 14px;
    padding-left: 42px;
    padding-bottom: 16px;
  }

  .x-window-header-default-horizontal .x-tool-after-title {
    top: 5px !important;
    right: 13px !important;
    left: initial !important;
  }

  .x-tool-tool-el.x-tool-img.x-tool-close {
    background-image: none;
    background-color: transparent;

    &:before {
      font-family: Ionicons;
      color: #909AB5;
      content: '\f2d7';
      cursor: pointer;
    }
  }
}