.criterion-ess-comments-popup {
  hr {
    margin: 0;
  }

  .commentator-photo {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    float: left;
    margin: 15px 10px 10px;
  }

  .comment-date {
    color: $battleship-grey;
    font-size: 13px;
    margin: 15px 0 5px;
  }

  .commentator-name {
    font-weight: $criterion-font-weight-semibold;
  }

  .comment {
    clear: both;
    margin: 0 10px 15px;
  }
}