.criterion-ess-profile-popup {
  .x-panel-body-default {
    background-color: white;
  }

  .x-toolbar-footer {
    background-color: white;
    border-top: 1px solid #EEE;
  }

  .circular {
    @include criterion-round-picture(90px);

    border: 4px solid white;
  }

  .profile-info {
    font-weight: $criterion-font-weight-semibold;
    p {
      margin: 7px 0;
    }
  }

  .checked-info {
    margin: 10px 0 0 0;
    border: 1px solid #F5F5F5;
    border-left: 0;
    border-right: 0;
    padding: 10px 0;
  }

  .name {
    font-weight: $criterion-font-weight-bold;
    font-size: 16px;
  }

  .email {
    color: $criterion-ess-base-color;
  }

  .x-panel-header {
    background-color: white !important;
    padding: 14px 30px 10px 0 !important;

    .x-title {
      font-weight: bold;
    }
  }

  .x-grid-item-container {
    box-shadow: none !important;

    .x-grid-item {
      border: 0;
    }
  }

  .criterion-grid-panel {
    .x-grid-cell-inner {
      font-weight: $criterion-font-weight-semibold;

      .strong {
        font-weight: $criterion-font-weight-bold;
      }
    }
  }
}
