.criterion-help-contacts {
  .help-info {
    padding: 10px;
    background-color: #fff;

    font-size: 13px;

    @include box-shadow(0px 0px 5px rgba(24, 24, 25, 0.1));

    td {
      padding: 0 10px;
    }

    .label {
      font-weight: $criterion-font-weight-semibold;
      padding-left: 0;
    }

    a {
      color: $color;
      text-decoration: none;
    }
  }
}