.criterion-help-request {
  .upload-zone {
    border: 1px dashed #ccc;
    background-color: white;

    .upload-text {
      text-align: center;
      padding-top: 33px;

      & > span{
        display: inline-block;
      }

      & > span.icon {
        font-family: $ionicons-font-family;
        font-size: 28px;
        color: #9d9d9d;
        position: relative;
        top: 6px;
      }

      .description {
        color: #3c3c3c;
      }

      .criterion-btn-transparent, .criterion-btn-transparent.x-btn-over {
        padding: 0;

        .x-btn-inner {
          padding: 0 5px 0 10px;
        }
      }
    }
  }

  .import-image-drag-over .upload-zone {
    border-color: $base-color;
  }
}