.criterion-btn-red { // todo deprecated, do not use implicit color names in class
  @include criterion-button($criterion-red, darken($criterion-red, 10), white, $criterion-red, $criterion-button-border-radius);
}

.criterion-btn-green { // todo deprecated, do not use implicit color names in class
  @include criterion-button($criterion-green, darken($criterion-green, 10), white, $criterion-green, $criterion-button-border-radius);
}

.criterion-btn-orange { // todo deprecated, do not use implicit color names in class
  @include criterion-button($criterion-orange, darken($criterion-orange, 10), white, $criterion-orange, $criterion-button-border-radius);
}

.criterion-btn-primary {
  @include criterion-button($button-default-background-color, $button-default-background-color-over, $button-default-color, $button-default-border-color, $criterion-button-border-radius);

  .x-btn-wrap-default-toolbar-small.x-btn-split-right:after {
    background-image: theme-background-image('button/criterion-primary-small-s-arrow');
  }
}

.criterion-btn-primary-bigger {
  @include criterion-button($button-default-background-color, $button-default-background-color-over, $button-default-color, $button-default-border-color, $criterion-button-border-radius);

  .x-btn-wrap-default-toolbar-small.x-btn-split-right:after {
    background-image: theme-background-image('button/criterion-primary-small-s-arrow');
  }

  .x-btn-inner {
    font-size: 14px;
  }
}

.criterion-btn-ess-new-primary {
  @include criterion-button($button-default-background-color, $button-default-background-color-over, $button-default-color, $button-default-border-color, 0);

  .x-btn-wrap-default-toolbar-small.x-btn-split-right:after {
    background-image: theme-background-image('button/criterion-primary-small-s-arrow');
  }
}

.criterion-btn-ess-new-light {
  @include criterion-button(transparent, transparent, #a6a6a6, transparent, $criterion-button-border-radius);
  @include box-shadow(none !important);

  .x-btn-wrap-default-toolbar-small.x-btn-split-right:after {
    background-image: theme-background-image('button/criterion-primary-small-s-arrow');
  }
}

.criterion-btn-feature {
  @include criterion-button($criterion-button-feature-background-color, $criterion-button-feature-background-over-color, $criterion-button-feature-text-color, $criterion-button-feature-border-color, $criterion-button-border-radius);

  .x-btn-wrap-default-toolbar-small.x-btn-split-right:after,
  .x-btn-wrap-default-small.x-btn-split-right:after {
    content: $ionicon-var-ios7-arrow-down;
    color: $criterion-button-feature-text-color;
    width: auto;
    font-family: Ionicons;
    background: none;
    font-size: 14px;
    padding: 0 8px;
    text-shadow: none;
    border-left: 1px solid $criterion-button-feature-text-color;
  }

}

.criterion-btn-transparent {
  @include criterion-button(transparent, transparent, $base-color, transparent, $criterion-button-border-radius);
}

.criterion-btn-light {
  @include criterion-button($criterion-button-light-color, darken($criterion-button-light-color, 10), $criterion-alternative-font-color, $criterion-button-light-color, $criterion-button-border-radius);
}

.criterion-btn-transparent-light {
  @include criterion-button(transparent, transparent, $criterion-button-feature-text-color, #CCC, $criterion-button-border-radius);

  border-left: 0 !important;

  &.x-btn-over, &.x-btn-focus, &.x-btn-disabled {
    border-color: #CCC !important;
  }
}

.criterion-btn-transparent-only-text {
  @include criterion-button(transparent, transparent, $criterion-button-feature-text-color, #e7e7e7, $criterion-button-border-radius);

  border-left: 0 !important;

  &.x-btn-over, &.x-btn-focus, &.x-btn-disabled {
    border-color: transparent !important;
  }

  .x-btn-inner {
    font-size: 22px;
  }
}

.criterion-edit-button {
  .x-btn-glyph {
    color: $criterion-blue-button-color;
  }
}

.criterion-btn-remove { // for buttons like "delete", "remove" and so on
  @include criterion-button($criterion-remove-color, darken($criterion-remove-color, 10), $criterion-alternative-font-color, $criterion-remove-color, $criterion-button-border-radius);
}

.criterion-btn-like-link {
  background: none !important;
  border: none !important;

  &.gray {
    .x-btn-inner, .x-btn-glyph {
      color: gray !important; // todo use variable
    }
  }

  .x-btn-inner, .x-btn-glyph {
    color: $base-color !important;
  }

  .x-btn-inner {
    text-decoration: underline;
    text-decoration-style: dashed;
  }

  .x-btn-glyph {
    text-decoration: none;
  }

  &.x-btn-over, &.x-btn-focus {
    background-color: transparent !important;
    border-color: transparent !important;

    .x-btn-inner {
      text-decoration: underline !important;
      padding: 0 !important;
    }
  }
}

.criterion-btn-link-menu {
  background: none !important;
  border: none !important;

  .x-btn-inner, .x-btn-glyph {
    color: $base-color;
    padding: 0;
  }

  &.x-btn-over, &.x-btn-focus {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
  }

  .x-btn-arrow-right:after {
    font-family: Ionicons;
    content: $ionicon-var-ios7-arrow-down;
    color: $base-color;
    width: auto !important;
    display: inline-block;
    background: none !important;
    padding: 0 0 0 8px !important;
  }
}

.criterion-btn-side-add, .criterion-btn-side-split-add {
  padding: 0 0 0 20px;

  .x-btn-inner {
    color: $base-color;
    text-transform: uppercase;
    padding-left: 25px;
    background-image: theme-background-image('button/add-icon');
    background-repeat: no-repeat !important;
    background-position: 0 center;
  }

  .x-btn-button {
    padding: 11px 0;
  }

  .x-btn-wrap.x-btn-split-right::after {
    border-left: 1px solid $criterion-side-add-border-color;
    width: 36px;
    background: transparent url("images/form/trigger.png") no-repeat scroll 7px center;
  }
  &.x-btn-menu-active {
    .x-btn-wrap.x-btn-split-right::after {
      border-left: none;
      border-right: 1px solid $criterion-side-add-border-color;
      @include rotate(180deg);
    }
  }

  &, &.x-btn-over, &.x-btn-focus, &.x-btn.x-btn-menu-active {
    @include top-gradient($criterion-side-add-bg-color-light, $criterion-side-add-bg-color-dark);
    border-color: $criterion-side-add-border-color;
    box-shadow: none !important;
  }

  &.x-btn.x-btn-pressed {
    background: $criterion-side-add-bg-color-dark;
    border-color: $criterion-side-add-border-color;
  }
}

.criterion-prefs-btn {
  background-image: theme-background-image('button/prefs') !important;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: 0 center;
  border-width: 0 !important;
  margin-left: 10px !important;

  &.x-btn-over, &.x-btn-focus {
    //background-image: theme-background-image('button/prefs-active') !important;
    box-shadow: none !important;
  }
}

.x-segmented-button-item, .x-segmented-button-item.x-btn-over, .x-segmented-button-item.x-btn-focus {
  border: none;
  background-color: #E1E1E1;

  .x-btn-inner {
    color: #8F8F8F;
  }

  &.x-btn-pressed {
    background-color: $button-default-background-color !important;

    .x-btn-inner {
      color: white;
    }
  }

  &.x-btn-disabled {
    background-color: #E1E1E1 !important;

    &.x-btn-pressed {
      background-color: $button-default-background-color !important;
    }
  }
}

.criterion-badge {
  position: relative;
  overflow: visible;
}

.criterion-badge[data-criterion-badge]:after {
  content: attr(data-criterion-badge);
  position: absolute;
  font-size: 10px;
  top: 10px;
  left: 30px;
  width: auto;
  font-weight: bold;
  color: white;
  border-radius: 30px;
  padding: 1px 4px;
  background-color: #CB5865;
  min-width: 10px;
  min-height: 10px;
  text-align: center;
}

.criterion-badge.hide-badge[data-criterion-badge]:after {
  display: none !important;
}

.criterion-btn-round-border {
  @include criterion-button(transparent, transparent, $criterion-blue, $criterion-blue, 17px);
  width: 17px !important;
  height: 17px !important;
  padding: 0;
  &.icon-only {
    .#{$prefix}btn-glyph {
      font-size: 12px;
    }
    &.#{$prefix}btn-default-small, &.#{$prefix}btn-default-toolbar-small {
      &.#{$prefix}toolbar-item {
        padding: 0;
      }
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.criterion-btn-new-primary {
  @include criterion-button($criterion-light-blue, $button-default-background-color-over, $criterion-blue, transparent, 4px, uppercase);

  padding: 5px !important;

  .x-btn-inner {
    font-weight: bold;
  }

  &.criterion-btn-sm-glyph {
    .x-btn-icon-el-default-small {
      font-size: 11px;
      width: 12px;
    }
  }
}

.criterion-btn-round-new-primary {
  @include criterion-button($criterion-light-blue, $button-default-background-color-over, $criterion-blue, transparent, 24px);

  padding: 3px;

  .x-btn-icon-el {
    font-size: 11px;
  }
}
