.x-datepicker-fixed-month {
  .x-datepicker-next, .x-datepicker-prev {
    display: none;
  }
  .x-datepicker-month .x-btn-split-right:after {
    content: none;
  }

  .x-datepicker-month {
    .x-btn.x-btn-disabled.x-btn-default-small {
      background: transparent;
      color: $datepicker-month-button-color;
      opacity: 1;
    }
  }

  .multiDates {
    background-color: transparent !important;
    color: black !important;
  }

  .isSetted {
    position: relative;
  }

  .multy-marker {
    position: absolute;
    bottom: -8px;
    font-size: 15px;
    right: 2px;

    .c-blue {
      color: #6299D5;
    }
    .c-green {
      color: #6BC1A6;
    }
    .c-red {
      color: #DC5E6F;
    }
  }

  .x-datepicker-prevday {
    visibility: hidden !important;
  }
}
