
.criterion-selfservice-team-goals {

  .x-grid-group-hd {
    border: none;
    background: #ffffff !important;
  }

  .x-grid-group-hd-collapsible {
    .x-grid-group-title {
      background: none;
    }
    .x-grid-group-title:before {
      font-family: Ionicons;
      content: $ionicon-var-arrow-down-b;
      font-size: 13px;
      color: #c4c4c4;
      text-align: center;
      float: left;
      padding: 3px 0;
      width: 5px !important;
    }
  }

  .x-grid-group-hd-collapsed {
    .x-grid-group-hd-collapsible {
      .x-grid-group-title {
        background: none;
      }
      .x-grid-group-title:before {
        font-family: Ionicons;
        content: $ionicon-var-arrow-right-b;
        font-size: 13px;
        color: #c4c4c4;
        text-align: center;
        float: left;
        padding: 3px 0;
        width: 5px !important;
      }
    }
  }
}

