$form-field-focus-border-color: dynamic($criterion-ess-base-color);
$form-text-field-border-radius: dynamic(2px);
$form-text-field-invalid-border-color: dynamic($error);
$form-field-padding: dynamic(7px 10px 8px 10px);
$form-field-height: dynamic(36px);


$form-field-border-width: dynamic(1px);
$form-field-border-color: dynamic(#dee0e4);
$form-field-border-style: dynamic(solid);

$form-field-font-size: dynamic(14px);
$form-field-font-weight: dynamic($criterion-font-weight-semibold);

$form-search-trigger-glyph-color: red!important;
$form-trigger-background-color: $criterion-form-search-field-background;
$form-search-trigger-glyph: dynamic($ionicon-var-ios7-search-strong 18px $font-icon-font-family);

$form-mini-field-padding: dynamic(5px 7.5px 5px 7.5px);
