$html-editor-bold-glyph: dynamic(null);
$html-editor-italic-glyph: dynamic(null);
$html-editor-underline-glyph: dynamic(null);
$html-editor-forecolor-glyph: dynamic(null);
$html-editor-backcolor-glyph: dynamic(null);
$html-editor-alignleft-glyph: dynamic(null);
$html-editor-aligncenter-glyph: dynamic(null);
$html-editor-alignright-glyph: dynamic(null);
$html-editor-numberedlist-glyph: dynamic(null);
$html-editor-bulletlist-glyph: dynamic(null);
$html-editor-growtext-glyph: dynamic(null);
$html-editor-shrinktext-glyph: dynamic(null);
$html-editor-sourceedit-glyph: dynamic(null);
$html-editor-hyperlink-glyph: dynamic(null);