.criterion-settings-company-details {

    &-cancel {
        background : transparent !important;
        border : none !important;

        .x-btn-inner {
            color : #ccc !important;
        }
    }
}