.criterion-settings-org-unit-types {

  .typeBlock {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 3px;
  }

  .criterion-leftCounter {
    background-color: $criterion-blue;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    position: relative;
    left: 4px;
  }
    
  .criterion-button-block {
      .x-btn-glyph {
        font-size: 20px;
        color: black;
        cursor: pointer;
        opacity: 1;
      }
  }
}
