.criterion-moduletoolbar-modules {
  border-width: 0 1px 0 0 !important;
  border-color: $criterion-app-toolbar-admin-border-active !important;

  .x-btn-inner {
    font-size: 22px !important;
    padding-left: 12px !important;
    line-height: 36px !important;
    position: relative;
    top: -1px;
  }

  .criterion-hr &, .criterion-payroll &, .criterion-recruiting &, .criterion-scheduling & {

    border-width: 0 !important;

    .x-btn-inner {
      font-size: 18px !important;
      padding-left: 14px !important;
      top: 0;
      font-weight: 700;
    }

    @include criterion-moduletoolbar-button(
      $criterion-app-toolbar-admin-module-switcher-font-color, $criterion-app-toolbar-admin-module-switcher-font-active-color,
      $criterion-app-toolbar-admin-module-switcher-background, $criterion-app-toolbar-admin-module-switcher-background-active,
      $criterion-app-toolbar-admin-module-switcher-border, $criterion-app-toolbar-admin-module-switcher-border-active
    );
  }

  .criterion-selfservice & {
    padding: 15px 20px 15px 21px !important;
    border-color: $criterion-app-toolbar-sse-background-active !important;

    @include criterion-moduletoolbar-button(
      $criterion-app-toolbar-sse-module-switcher-font-color, $criterion-app-toolbar-sse-module-switcher-font-active-color,
      transparent, $criterion-app-toolbar-sse-module-switcher-background-active,
      $criterion-app-toolbar-sse-module-switcher-border, $criterion-app-toolbar-sse-module-switcher-border-active
    );
  }
}

.criterion-module {
  &.criterion-selfservice {
    .module-text {
      color: $criterion-app-toolbar-sse-module-switcher-font-color;
      font-weight: bold;
    }
  }
}