// TODO Move to theme variables

.criterion-grid-panel {

  &.widgets-grid {
    .x-grid-widgetcolumn-cell-inner {
      padding: 4px !important;
    }

    .x-grid-row-summary {
      .x-grid-widgetcolumn-cell-inner {
        padding: 16px 25px !important;
      }
    }
  }

  .criterion-btn-like-link .x-btn-inner {
    text-decoration: unset;
    padding: 0;
  }

  .criterion-yellow-dirty-cell {
    .x-grid-dirty-cell {
      background: yellow !important;
    }
  }

  .x-toolbar-default {
    background-color: $toolbar-background-color;
    padding: 10px $toolbar-horizontal-spacing 10px 25px;
  }

  &.criterion-grid-panel-settings_toolbar {
    .x-toolbar-default {
      background-color: #fafafa;
    }
  }

  .x-grid-cell-inner {
    padding: 16px 25px;
    color: $criterion-grid-font-color;

    &.x-grid-cell-inner-row-expander {
      padding: 17px 6px 16px 6px;
    }

    &.x-grid-checkcolumn-cell-inner {
      padding: 17px 6px 16px 14px;
    }
  }

  .x-button-default-small-cell > .x-grid-cell-inner {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .x-grid-cell-inner-action-col {
    padding: 0;
  }

  .x-button-default-medium-cell > .x-grid-cell-inner {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .x-grid-cell-row-checker > .x-grid-cell-inner {
    padding: 15px 4px 14px;
  }

  .x-docked-summary.widgets .x-textfield-default-cell .x-grid-cell-inner {
    padding: 16px 25px;
  }

  .x-grid-header-ct {
    background-color: $criterion-grid-header-background-color;
    border: 1px solid $criterion-grid-border-color;
    border-bottom: none;
  }

  .x-column-header {
    background-color: $criterion-grid-header-background-color;
    color: $criterion-grid-font-color;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    border-right: none;

    &:not(.x-column-header-checkbox) {
      .x-column-header-inner {
        padding: 14px 25px;
      }
    }

    &:not(.x-column-header-first) .x-column-header-inner:not(.x-column-header-inner-empty):before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 50%;
      width: 1px;
      border-left: 1px solid $criterion-grid-border-color;
    }

    &.x-column-header-checkbox + .x-column-header .x-column-header-inner:not(.x-column-header-inner-empty):before {
      width: 0;
      border-left: none;
    }

    .x-column-header-over, .x-column-header-open {
      background-color: unset;
    }

    .x-column-header-trigger {
      border-left: none;
    }

    .x-column-header-over .x-column-header-trigger, .x-column-header-open .x-column-header-trigger {
      width: 30px;
    }
  }

  .x-grid-row {
    .x-checkbox-default-cell, .x-textfield-default-cell {
      & > .x-grid-cell-inner {
        padding-top: 4px;
        padding-bottom: 4px;
      }
    }

    .x-grid-cell {
      & > .x-grid-widgetcolumn-cell-inner {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }

  .x-grid-item-container {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06), 0px 1px 2px rgba(0, 0, 0, 0.12);
    min-height: 0;
  }

  .checkbox-hidden .x-grid-cell-row-checker .x-grid-row-checker {
    display: none;
  }

  .checkbox-hidden .x-grid-checkcolumn {
    display: none;
  }

  .x-grid-cell-special {
    border-right-width: 0;
  }

  .x-grid-with-row-lines .x-grid-item {
    border-color: $criterion-grid-border-color;

    &:first-child {
      border-top-color: #FFF;
    }
  }

  .showOnGridItemHover {
    visibility: hidden;
  }

  .x-grid-item.x-grid-item-over {
    background-color: $criterion-grid-hover-background-color;

    .showOnGridItemHover {
      visibility: visible;
    }
  }

  .x-grid-row.highlight {
    background-color: $criterion-grid-highlight-background-color;
  }

  .x-grid-body {
    border-top-color: $criterion-grid-border-color;
  }

  .column-sub-warning {
    font-size: 12px;
    color: $criterion-red;
  }
}

.x-panel-default-outer-border-rbl {
  .x-grid-with-row-lines .x-grid-item:last-child {
    border-bottom-width: 0px;
  }
}

.criterion-yellow-dirty-cell {
  .x-grid-dirty-cell {
    background: yellow !important;
  }
}
