.criterion-selfservice-time-attendance-dashboard-period-widget {

  .criterion-btn-only-icon {
    padding: 0 !important;
    width: 18px;
    margin-right: 5px !important;
    height: 50px !important;

    .x-btn-button {
      align-items: center !important;
    }

    &.x-btn-default-small {
      background-color: transparent !important;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    .x-btn-icon-el-default-small {
      color: $criterion-gray;
    }

    &.hasExceptions {
      .x-btn-icon-el-default-small {
        color: $criterion-red;
      }
    }
  }

  .scheduled-block {
    height: 20px;
    margin-top: 5px;

    .scheduled-period {

    }

    .bar {
      background-color: $criterion-darken-gray;
      position: absolute;
      height: 16px;
      z-index: 90;

      &.isFullDayOff {
        background-color: $criterion-gray;
      }

      &.isTimeOff {
        background: url(images/lined_background.png);
        z-index: 100;
        border: 1px solid $criterion-gray;
      }
    }
  }

  .actual-block {
    height: 20px;
    margin-top: 5px;

    .actual-period {

    }

    .bar {
      background-color: $criterion-green-d;
      position: absolute;
      height: 16px;

      &.violation {
        background-color: $criterion-red;
      }

      &.noPunchOrOutForDay {
        background-color: $criterion-red;
        height: 2px;
        top: 10px;
      }
    }
  }

  .period-title {
    width: 93px;
    color: $criterion-gray;
    font-size: 11px;
    padding-left: 5px;
  }
}

.period-info-tip {
  padding: 5px;

  .param {
    display: flex;
  }

  .title {
    font-size: 10px;
    font-weight: bold;
  }

  .time {
    flex: 1;
    text-align: right;
    font-size: 10px;
    margin: 0 0 0 5px;

    &.normal {
      color: $criterion-green-d;
    }

    &.violation {
      color: $criterion-red;
    }
  }

  .timezone {
    margin-top: 5px;
    font-size: 10px;
    color: $criterion-gray
  }
}
