.criterion-summarized-grid {

  .x-panel-header {
    border: none !important;
    background: none !important;
    padding: 15px 20px 14px 20px;

    .x-panel-header-title-default > .x-title-text-default {
      text-transform: none;
      font-size: 14px !important;
    }
  }

  .x-title-text {
    font-size: 14px;
    font-weight: 700;
    text-align: left;
  }

  .x-grid-item {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-top-color: $grid-row-cell-border-color !important;
  }
  .x-grid-item-summary {
    border-bottom: 1px dashed $grid-row-cell-border-color;
  }

  .x-grid-cell-inner {
    padding: 14px 20px;
  }
}


