$base-color: dynamic($criterion-ess-base-color);
$color: dynamic(#333333);
$highlight-color: dynamic(#606060);
$light-color: dynamic(#f0f0f0);
$font-family: dynamic('Open Sans', calibri, arial, sans-serif);
$font-size: dynamic(14px);
$font-weight-normal: dynamic(400);
$font-weight-bold: dynamic(600);
$font-size-big: dynamic(100%);

$font-weight: $font-weight-normal;

$tab-font-weight: $font-weight-normal;

$panel-header-text-transform: dynamic(uppercase);
$panel-header-color: dynamic(#414042);
$panel-header-background-color: dynamic(white);

// styles for primary side panel - todo move from var folder

.criterion-side-panel {
  border-right: $criterion-side-border;
}

.plain-header-title {
  font-size: 22px!important;
  font-weight: $criterion-font-weight-semibold;
  color: $dark-grey;
  padding: 0 20px 23px 0;
}

.criterion-team-member-name,
.criterion-team-member-name .x-form-text-default{
  font-size: 18px!important;
  color: $base-color;
  font-weight: $criterion-font-weight-semibold!important;
}

.criterion-team-member-info {
  font-size: 13px;
  color: $base-color;
  font-weight: $criterion-font-weight-semibold!important;
}



$enable-font-icons: dynamic(true);

$font-icon-font-family: dynamic(Ionicons);
$form-trigger-glyph-color: $warm-grey;
$form-trigger-glyph: dynamic($ionicon-var-arrow-down-b 12px $font-icon-font-family);

$form-date-trigger-glyph: dynamic($ionicon-var-android-calendar 18px $font-icon-font-family);

$css-shadow-border-radius: dynamic(3px);

$body-background-color: dynamic($criterion-main-panel-ess-bg);

.x-css-shadow {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2)!important;
}