.criterion-form, .criterion-connected-panel {

  .x-panel:not(.criterion-fullscreen-popup):not(.criterion-modal) {
    & > .x-panel-header {
      background: white;
      padding-left: 0;
      margin-left: 25px;
      margin-right: 25px;
      padding-bottom: 5px;
      border: none;
      border-bottom: $criterion-divider-line !important;

      .x-panel-header-title-default > .x-title-text-default {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        color: $panel-header-color;
      }
    }

    &:first-child:not(.criterion-panel-small-header) {
      & > .x-panel-header {
        background-color: #F6F6F6;
        padding-left: 25px;
        padding-bottom: 14px;
        margin-left: 0;
        margin-right: 0;

        .x-panel-header-title-default > .x-title-text-default {
          font-size: 16px;
        }
      }
    }
  }

  &:not(.criterion-fullscreen-popup):not(.criterion-modal) > .x-panel-header {
    background-color: #F6F6F6 !important;
    padding-left: 25px;
    padding-bottom: 14px !important;
    margin-left: 0;

    .x-panel-header-title-default > .x-title-text-default {
      font-size: 16px;
      font-weight: bold;
    }
  }

}

.transparent-bg-header {
  > .x-panel-header {
    background: white;
    padding: 0;
    border: none;
    border-bottom: $criterion-divider-line !important;

    .x-panel-header-title-default {
      margin-left: 0;

      & > .x-title-text-default {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        color: $criterion-dark-gray !important;
      }
    }

    .criterion-edit-button.x-btn-default-small {
      padding-right: 0;
    }
  }

  .x-view-item-focused {
    outline: none !important;
  }
}

.large-colored-tool {
  div.x-tool-tool-el {
    font-size: 22px;
    width: 22px;
    height: 22px;
    color: black;
    background-color: transparent;
  }
}
