.criterion-employee-assignment-history {
  .criterion-assignment-type-column {
    .x-grid-cell-inner {
      padding: 13px 25px 14px;
    }
  }

  .criterion-assignment-group-badge {
    display: inline-block;
    padding: .25em .4em;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;

    &.primary {
      background-color: #5bc0de;
    }

    &.secondary {
      background-color: #f0ad4e;
    }
  }

  @for $i from 0 to 30 {
    $darkness: $i * 3;
    .criterion-assignment-group-#{$i} {
      background-color: darken(#ffffff, $darkness * 1%);
    }
  }
}