.criterion-employee-terminate {
  .criterion-status-breadcrumb {
    padding: 10px 17px;

    a {
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  .fp-title {
    font-size: 20px;
    font-weight: bold;
  }

  .fp-desc {
    color: #666;
  }
}
