$timesheet-border-color: $criterion-border-light-grey;

.timesheet-header {
  background-color: $criterion-background-white;
  border-bottom: 1px solid $timesheet-border-color !important;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  .x-column-header {
    padding: 14px 0;
    margin-right: 10px;
    color: $criterion-darken-gray;
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
    border-right: none;
    background-color: transparent;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:after:not(.no-border-line) {
      content: '';
      border-left: 1px solid $criterion-border-light-grey;
      height: 26px;
      position: absolute;
      bottom: -2px;
      right: 0;
    }
  }

  .total-column {
    background: #f0f1f5 !important;
  }

  &.aggregate {
    overflow: visible;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    .x-box-inner {
      overflow: visible;
    }
  }

  max-height: 45px;
}

.horizontal-dates {
  border-top-right-radius: 3px;
}

.timesheet-action-col {
  .x-btn {
    padding: 3px 0;
  }
}

.timesheet-details-col-container {

  .day-details-container {
    background-color: #F0F1F5;

    &.first-day-of-week {
      &:before {
        content: '';
        position: absolute;
        height: 3px;
        top: 0;
        width: 100%;
        background-color: $criterion-ess-base-color;
      }

      &:first-of-type {
        border-top: 0;

        &:before {
          content: '';
          position: absolute;
          height: 0;
          top: 0;
          width: 100%;
          background-color: transparent;
        }
      }
    }
  }

  .day-details-container-border {
    border-bottom: 1px solid $timesheet-border-color;
  }

}

.timesheet-details-col-container-sum {
  background-color: $criterion-b-gray;
}

.timesheet-fillUXCol {
  background-color: white !important;
  margin-left: -10px !important;
}

.timesheet-fillUXCol-sum {
  margin-left: -25px !important;
}

.timesheet-out-button {
  background-color: #ea7f76;

  &.x-btn-over, &.x-btn-focus, &.x-btn-disabled {
    background-color: darken(#ea7f76, 10);
  }
}

.timesheet-vertical-align {
  color: #404040;
  padding: 4px 0 0;
  background-color: transparent;
  font-family: $font-family;
  font-size: 13px;
  font-weight: $criterion-font-weight-regular;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &.strong {
    font-weight: $criterion-font-weight-semibold;
  }

  &.pad {
    padding: 4px 0 0 25px;
  }
}

.current-day {
  color: $criterion-ess-base-color;
}

.criterion-employee-timesheet-hourly, .criterion-employee-timesheet-vertical, .criterion-employee-timesheet-horizontal {
  .x-form-text-default {
    font-size: 13px;
    font-weight: $criterion-font-weight-regular;
    padding: 8px 10px;
  }

  .timesheet-total-hours {
    border-top: 1px solid $timesheet-border-color !important;
  }

  .no-padding-tbar {
    .x-toolbar-default.x-toolbar {
      padding: 0;
    }
  }
}

.criterion-employee-timesheet-vertical {
  .timesheet-total-hours {
    background-color: $criterion-b-gray;
  }
}

.timesheet-task-disabled {
  background-color: $criterion-disabled-field-background;

  .x-field.x-item-disabled {
    .x-form-trigger-wrap-default {
      border-color: #cfcfcf;
    }

    .x-form-field {
      color: #888;
    }
  }

  .timesheet-vertical-align {
    background-color: $criterion-disabled-field-background;

    &:not(.strong) {
      color: #888;
    }
  }
}

.day-container {
  border-bottom: 1px solid $timesheet-border-color;

  &.first-day-of-week {
    &:before {
      content: '';
      position: absolute;
      height: 3px;
      top: 0;
      width: 100%;
      background-color: $criterion-ess-base-color;
    }

    &:first-of-type {
      border-top: 0;

      &:before {
        content: '';
        position: absolute;
        height: 0;
        top: 0;
        width: 100%;
        background-color: transparent;
      }
    }
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  .task-detail-row {
    .delete-button {
      .x-btn-glyph {
        color: #7b7b7b;

        &.x-btn-over {
          color: #7b7b7b;
        }
      }

      opacity: 0;
    }

    &.over {
      .delete-button {
        opacity: 1;
      }
    }
  }

}

.task-container {
  .stop-button {
    .x-btn-glyph {
      color: #7b7b7b;

      &.x-btn-over {
        color: #7b7b7b;
      }
    }
  }

  .delete-button {
    .x-btn-glyph {
      color: #7b7b7b;

      &.x-btn-over {
        color: #7b7b7b;
      }
    }

    opacity: 0;
  }
}

.days-container {
}

.task-container.over, .days-container.over {
  .delete-button {
    opacity: 1;
  }
}

.hide-overflow {
  overflow: hidden !important;
}

.hide-overflow-x {
  overflow-x: hidden !important;
}

.hide-overflow-y {
  overflow-y: hidden !important;
}

.totals-info, .totals-container {
  border-top: 1px solid #ececec;
  padding: 15px 0 19px 0;

  .x-component {
    font-size: 13px;
    color: $dark;
    font-weight: $criterion-font-weight-semibold;

    &.total-hours, &.totals-details {
      color: $battleship-grey;

      span {
        color: $dark;
      }
    }
  }
}

.dates-container, .totals-container, .tasks-fte-hours-container {
  background-color: #f6f7f8;
  border-left: 1px solid #ececec;

  .x-component.total-hours {
    color: $dark;
  }
}

.empty-list {
  background-image: theme-background-image('timesheets/empty', 'svg');
  background-position: center center;
  background-repeat: no-repeat;
}

.empty-list-text {
  color: $battleship-grey;
  font-size: 14px;
}

.aggregate-top-shadow {
  > .x-box-inner {
    &:after {
      content: '';
      width: 100%;
      height: 3px;
      margin-top: -3px;
      display: block;
      @include box-shadow(0 2px 4px 0 rgba(0, 0, 0, 0.06));
    }
  }
}

.totals-details {
  margin-top: 15px;
}

.total-hours {
  font-weight: $criterion-font-weight-semibold;
  color: $battleship-grey;
}

.timesheet-horizontal-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  .x-btn.criterion-btn-transparent {
    padding: 0;
    min-height: 18px;
    width: 18px;
    border: none;
  }
}

.criterion-btn-transparent {
  &.criterion-geolocation-inside {
    .x-btn-glyph {
      color: $criterion-icon-enabled-color;
      font-size: 1.2em;
    }

    &.x-btn-over .x-btn-inner,
    &.x-btn-over .x-btn-glyph {
      color: $criterion-icon-enabled-color-over;
    }

    &.disabled {
      .x-btn-glyph {
        color: $criterion-icon-disabled-color;
      }

      &.x-btn-over .x-btn-inner,
      &.x-btn-over .x-btn-glyph {
        color: $criterion-icon-disabled-color-over;
      }
    }
  }

  &.criterion-geolocation-outside {
    .x-btn-glyph {
      color: $criterion-icon-warning-color;
      font-size: 1.2em;
    }

    &.x-btn-over .x-btn-inner,
    &.x-btn-over .x-btn-glyph {
      color: $criterion-icon-warning-color-over;
    }

    &.disabled {
      .x-btn-glyph {
        color: $criterion-icon-disabled-color;
      }

      &.x-btn-over .x-btn-inner,
      &.x-btn-over .x-btn-glyph {
        color: $criterion-icon-disabled-color-over;
      }
    }
  }
}
