.ess-modern-community-badge-picker {

  .badge-list {
    .x-dataview-item {
      height: 90px;
      width: 60px;
      margin-right: 13px;
      overflow: hidden;
      margin-bottom: 5px;
      border: 1px solid transparent;

      &.x-selected {
        border: 2px solid #f0f0f0;
        border-radius: 10px;
      }
    }

    .badge {
      width: 60px;
      padding: 5px;

      img {
        width: 100%;
      }

      p {
        font-weight: 700;
        text-align: center;
        margin: 5px 0;
        font-size: 9px;
      }
    }
  }

  .x-button {
    border: none;
    font-size: 16px;
    background: none;

    display: inline-block;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;

    .x-button-label {
      text-align: center;
    }
  }

  .ess-badge-remove {
    color: white !important;
    background-color: #007cc2;
  }
}
