.criterion-orgchart, .criterion-manager-selfservice-team {
  .position-explorer {
    .x-tree-icon {
      display: none;
    }
  }
}

.criterion-orgchart {
  .x-panel-body-criterion-side-tree {
    border: none;
  }

  .criterion-side-tree {
    padding: 20px;
  }

  .x-tree-elbow,.x-tree-elbow-end {
    width: 6px;
  }

  .x-toolbar-default {
    background-color: transparent;
    border: none;
  }

  .x-splitter-vertical {
    background-color: #f6f6f6;

    .x-layout-split-left, .x-layout-split-right {
      background-color: #373D4C;
    }
  }

  .x-tree-arrows .x-tree-expander {
    background-image: none;

    &:after {
      @include rotate(-90deg);

      display: block;
      width: auto;
      margin-left: 5px;
      content: $ionicon-var-ios7-arrow-down;
      color: white;
      font-family: Ionicons;
      font-size: 14px;
      position: absolute;
    }
  }

  .x-grid-tree-node-expanded .x-tree-expander::after {
    @include rotate(0deg);
  }

  .x-header.header-collapsible {
    padding: 0 0 10px;

    .x-tool-img.x-tool-collapse-left {
      background: none;
    }
  }

  .x-panel-header-default {
    border: $criterion-side-border;
  }

  .x-header.collapsed {
    background-color: $criterion-side-bg-color;

    .x-panel-header-title-default > .x-title-text-default {
      color: white;
      text-transform: uppercase;
      font-size: $font-size;
      font-weight: $criterion-font-weight-semibold;
    }

    .x-tool-img.x-tool-expand-right {
      background-color: $criterion-side-bg-color;
      background-image: url(images/collapsible/arrow-right-white.gif);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.criterion-orgchart {
  .positions-report {
    & > .x-panel-bodyWrap > .x-panel-body {
      background-color: #f6f6f6;
    }

    .criterion-orgchart-reports > .x-panel-bodyWrap > .x-panel-body {
      background-color: #f6f6f6;
    }
  }
}
