.web-form {
  overflow: hidden;

  .focused {
    outline: 1px dotted grey;
  }

  .x-component, .x-img, .x-field *, .x-container * {
    cursor: pointer !important;
  }

  .x-form-cb-default,
  .x-form-cb-wrap-default {
    margin: 0;
    height: 16px;
  }
}

.web-form-fillable {
  > .x-panel-bodyWrap > .x-panel-body {
    background-color: #f0f1f2 !important;
  }

  .web-form-page-number {
    width: 17px !important;
    height: 17px;
    background-color: #f0f1f2;
    text-align: center;
    border-radius: 3px;
    line-height: 17px;
    font-size: 0.75rem;
  }
}
