.criterion-image-field {
  .image-wrapper {
    display: flex;
    justify-content : center;
    align-items : center;
    cursor: pointer;
    border-style: $form-field-border-style;
    border-width: $form-field-border-width;
    border-color: $form-field-border-color;
  }
}