.x-form-itemselector-top {
  @include criterion-ionicon-glyph('\f10c', white);
}

.x-form-itemselector-up {
  @include criterion-ionicon-glyph('\f126', white);
}

.x-form-itemselector-add {
  @include criterion-ionicon-glyph('\f125', white);
}

.x-form-itemselector-remove {
  @include criterion-ionicon-glyph('\f124', white);
}

.x-form-itemselector-addall {
  @include criterion-ionicon-glyph('\f125\f125', white);
}

.x-form-itemselector-removeall {
  @include criterion-ionicon-glyph('\f124\f124', white);
}

.x-form-itemselector-down {
  @include criterion-ionicon-glyph('\f123', white);
}

.x-form-itemselector-bottom {
  @include criterion-ionicon-glyph('\f103', white);
}

.criterion-itemselector, .criterion-itemselector .x-panel-body {
  background-color: $criterion-container-dark-background;
}

.x-form-itemselector-title .x-panel-body {
  font-size: 20px;
  text-align: center;
}

.criterion-itemselector .x-boundlist .x-focus {
  border: 1px solid #d8d8d8;
}

.criterion-itemselector .x-boundlist {
  .x-boundlist-item,
  .x-boundlist-item.x-boundlist-selected,
  .x-boundlist-item.x-boundlist-item-over {
    padding: 15px 25px;
    border-bottom: 1px solid #ddd;
  }
}