.criterion-form {

  .x-statusbar {

    .x-status-busy, .x-status-error, .x-status-valid, .x-status-saved {
      padding-left: 25px !important;
      background: transparent no-repeat 3px 0;
    }

    .x-status-busy {
      background-image: url(images/icons/loading.gif);
    }

    .x-status-error {
      background-image: url(images/icons/exclamation.gif);
    }

    .x-status-valid {
      background-image: url(images/icons/accept.png);
    }

    .x-status-saved {
      background-image: url(images/icons/saved.png);
    }

  }

  .x-toolbar-footer {
    //background-color: white;
  }

  .x-window-header-title-default > .x-title-text-default {
    text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  }

  .x-form-trigger-wrap-focus {
    box-shadow: 0;

    &.x-form-trigger-wrap-invalid {
      box-shadow: 0;
    }
  }
}

.custom-fields-panel {
  & > .x-panel-header {
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }

  .x-panel-header-title-default > .x-title-text-default {
    font-size: 11px !important;
    text-transform: none !important;
    font-weight: normal !important;
    text-align: right !important;
    color: #0096eb !important;
  }
}
