.x-form-trigger-default {
  position: relative;
  left: -7px; // experimental, may cause problems in grids or toolbars
  padding: 15px 0;

  &.hide-value-trigger {
    background: none;

    &:after {
      font-family: Ionicons;
      content: $ionicon-var-ios7-eye;
      color: $criterion-blue;
      font-size: 22px;
      display: block;
      margin-top: 2px;
    }

    &:before {
      content: ''
    }
  }
}

.x-boundlist {
  border: none;

  .x-boundlist-item {
    border: none;
  }
}

.criterion-hidden-value-hidden-state {
  .x-form-field {
    visibility: hidden;
  }

  .x-form-text-wrap {
    &:after {
      content: '··········';
      position: absolute;
      top: 7px;
      left: 18px;
      font-size: 30px;
    }
  }

  .hide-value-trigger {
    &:after {
      color: #888;
    }
  }
}

.x-form-trigger-cmp-default {
  left: 0;
  padding: 0;
}

.criterion-btn-transparent {
  .x-form-trigger-wrap-default {
    background-color: transparent !important;
    border: none !important;
  }

  &.criterion-web-form-tool {
    .x-btn-inner, .x-btn-glyph {
      font-size: 18px;
      color: $criterion-web-form-tool-button-color!important;
    }

    &.text {
      .x-btn-inner {
        padding: 0;
        font-size: 13px;
        font-weight: bold;
        font-style: italic;
      }
    }

    &.number {
      .x-btn-inner {
        padding: 0;
        font-size: 13px;
        font-weight: bold;
      }
    }

  }

  &.btn-glyph-bold {
    .x-btn-glyph {
      font-weight: bold;
    }
  }

  &.gray-btn-glyph {
    .x-btn-glyph {
      color: $criterion-darken-gray !important;
    }
  }
}

.x-field {
  &.x-item-disabled, &.x-form-readonly {
    .x-form-trigger-wrap-default {
      background-color: $criterion-disabled-field-background;

      input:not([type='file']) { // IE/EDGE file input button crash
        opacity: $criterion-disabled-field-opacity;
      }
      textarea { // IE/EDGE file input button crash
        opacity: $criterion-disabled-field-opacity;
      }
    }
    .x-form-field {
      color: $criterion-disabled-field-text-color;
    }
    &.x-form-type-checkbox {
      .x-form-item-body-default {
        opacity: 0.5;
      }
    }
  }

  .x-form-field {
    text-overflow: ellipsis;
  }
}

.x-field {
  &.block-by-security {
    .x-form-text-wrap {
      &:after {
        display: none;
      }
    }

    .x-form-trigger-wrap, .x-form-cb-wrap-inner {
      position: relative;

      &::before {
        position: absolute;
        top: 9px;
        left: 10px;
        content: '************';
        font-size: 12px;
        color: #555;
        z-index: 20000;
      }

      &::after {
        position: absolute;
        top: 2px;
        content: 'locked';
        font-size: 9px;
        right: 2px;
        color: rgba(255, 47, 0, 0.68);
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 1px 1px #f6f6f6;
        background-color: white;
        padding: 2px 3px;
        border: 1px solid #CCC;
      }
    }

    .x-form-field {
      opacity: 0 !important;
    }
  }
}

.x-radio-invalid {
  border: 1px solid $error-color;
}
