.#{$prefix}html-editor-wrap {
  .#{$prefix}toolbar {
    border-left-color: $html-editor-border-color;
    border-top-color: $html-editor-border-color;
    border-right-color: $html-editor-border-color;
    border-width: 1px !important;
  }

  .#{$prefix}btn {
    background-color: white;
    border: 1px solid #eee;
    border-radius: 4px;

    &.#{$prefix}btn-over {
      border: 1px solid #ccc !important;
    }
  }
  &.#{$prefix}form-invalid {
    .#{$prefix}html-editor-input {
      margin-top: -1px !important;
      border: 1px solid red;
    }
  }
}

.#{$prefix}html-editor-input {
  border: $html-editor-border-width solid $html-editor-border-color;
  border-top-width: 0;
}

.#{$prefix}html-editor-container {
  border: 0 !important;
}

.#{$prefix}htmleditor-iframe {

}
