.#{$prefix}tagfield .#{$prefix}tagfield-list {
  padding: 2px 8px 2px 8px !important;
  margin: 0;
}

.criterion-tagfield.#{$prefix}form-readonly, .criterion-tagfield.#{$prefix}item-disabled {
  .#{$prefix}tagfield-item {
    padding: 0 5px 0 5px;
  }

  .#{$prefix}tagfield-item-close {
    display: none;
  }

  .#{$prefix}tagfield-input {
    display: none;
  }
}
