.#{$prefix}form-text-field-body {
  background-color: transparent; // to support form trigger padding
}

.#{$prefix}form-trigger-wrap-default {
  background-color: #fff;
}

.#{$prefix}form-trigger-default {
  background-color: transparent;
}

.#{$prefix}form-trigger-clock {
  @extend .#{$simple-line-icon-prefix}clock;
  font-family: '#{$simple-line-font-family}';
  background: none !important;
}
@supports (-ms-ime-align: auto) { // detect Edge
  .#{$prefix}form-text-default {
    text-indent: -1px; // CR-9402 field's text is cropped in Edge
  }
}

$form-text-field-body-width: dynamic(220px);