/.project
/.settings
/.externalToolBuilders
/.idea
/client.iml
/ext
/ext652
/siesta
/utils/node_modules
/build
/src/web/build_ter.sh
/src/web/.sencha_backup
/src/web/sass/example/bootstrap.js
/src/web/sass/example/bootstrap.json
/src/web/sass/example/example.css
/src/web/bootstrap
/src/web/bootstrap.css
/src/web/bootstrap.js
/src/ess/.sencha_backup
/src/ess/sass/example/bootstrap.js
/src/ess/sass/example/bootstrap.json
/src/ess/sass/example/example.css
/src/ess/bootstrap
/src/web/default.json
/src/packages/criterion/build
/src/packages/criterion/sass/example/bootstrap.js
/src/packages/criterion/sass/example/bootstrap.json
/src/packages/criterion/sass/example/example.css
/src/packages/criterion-classic/build
/src/packages/criterion-classic/sass/example/bootstrap.js
/src/packages/criterion-classic/sass/example/bootstrap.json
/src/packages/criterion-classic/sass/example/example.css
/src/packages/criterion-classic-settings/build
/src/packages/criterion-classic-settings/sass/example/bootstrap.js
/src/packages/criterion-classic-settings/sass/example/bootstrap.json
/src/packages/criterion-classic-settings/sass/example/example.css
/src/packages/criterion-classic-ess/build
/src/packages/criterion-classic-ess/sass/example/bootstrap.js
/src/packages/criterion-classic-ess/sass/example/bootstrap.json
/src/packages/criterion-classic-ess/sass/example/example.css
/src/packages/criterion-theme-default/build
/src/packages/criterion-theme-default/sass/example/bootstrap.js
/src/packages/criterion-theme-default/sass/example/bootstrap.json
/src/packages/criterion-theme-default/sass/example/example.css
/utils
/packages/criterion/build
/packages/criterion-classic/build
/packages/criterion-classic-ess/build
/packages/criterion-classic-settings/build
/packages/criterion-theme-default/build
/src/ess/bootstrap.css
/src/ess/bootstrap.js
/packages/criterion-theme-classic-default/build
/packages/criterion-theme-classic-default/sass/example/bootstrap.js
/packages/criterion-theme-classic-default/sass/example/bootstrap.json
/src/web/default.jsonp
/src/web/sass/example/bootstrap.jsonp
/src/ess/default.jsonp
/src/ess/sass/example/bootstrap.jsonp
web\.config

\.sencha/temp/\.ide/
\.sencha/ide/
\.vscode/settings\.json

/src/ess/phonegap/www/app.js
/src/ess/phonegap/www/auth.html
/src/ess/phonegap/www/config.xml
/src/ess/phonegap/www/index.html
/src/ess/phonegap/www/libs/
/src/ess/phonegap/www/loader/
/src/ess/phonegap/www/microloader.jsp
/src/ess/phonegap/www/native-ios.json
/src/ess/phonegap/www/native-ios.jsonp
/src/ess/phonegap/www/resources/
/src/ess/phonegap/.cordova/config.json_local
/_ide_.js
/js_files_map.json

/src/ess/classic.json
/src/ess/classic.jsonp
/src/ess/modern.json
/src/ess/modern.jsonp
/src/ess/phonegap/www/native-ios/
/src/ess/phonegap/www/errors/
/src/ess/sencha-error-*.log
