@mixin criterion-ess-menu-button() {
  @include criterion-button(transparent, transparent, $color, transparent, 0);

  border-width: 0;
  padding : 10px 0;

  .x-btn-inner {
    padding : 0;
    overflow: visible;
  }
}

.criterion-ess-menu-btn {
  @include criterion-ess-menu-button();
}

.criterion-ess-menu-module-btn {
  @include criterion-ess-menu-button();

  .x-btn-inner-default-small {
    font-size: 16px;
  }

  &.x-btn-disabled {
    opacity: 1;

    .x-btn-inner-default-small {
      font-weight: bold;
    }
  }
}

.criterion-ess-menu-heading {
  color: $base-color;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 10px;
}

.criterion-ess-menu-module-section {
  background-color: #f7f7f7;
  border-right: 1px solid #ebebeb;
}

.criterion-ess-menu-section {
  padding : 0 15px;

  .x-box-inner {
    overflow: visible;
  }
}
