.criterion-selfservice-module-toolbar {
  .x-toolbar-default {
    padding: 0;
  }
}

.criterion-ess-toolbar {

  background-color: transparent;

  &.x-toolbar.x-toolbar-default {
    padding: 3px;
  }

  div.x-autocontainer-outerCt {
    background-color: #fff;
    box-shadow: 0px 0px 6px 1px #e1e1e1;
    border-radius: 3px;
    padding: 0;
    display: block;
  }

  div.x-autocontainer-innerCt {
    text-align: justify;

    a.x-btn {
      padding: 0;
      margin: 15px 0 10px 0;
      display: inline-block;
      width: 33%;

      span {
        padding: 0;
        margin: 0;
        span.x-btn-glyph,
        span.x-btn-inner {
          color: #414042 !important;
        }
      }

      &.x-btn-pressed {
        span {
          span.x-btn-glyph,
          span.x-btn-inner {
            color: $criterion-ess-base-color !important;
          }
        }
      }
    }

    //&:after {
    //  display: inline-block;
    //  content: "";
    //  width: 100%;
    //}
  }

  .x-toolbar-default .x-toolbar-item {
    margin: 0;
    min-width: 122px;
  }

 
}
