.criterion-help {
  background-color: whitesmoke;

  .x-panel-body-default {
    background: whitesmoke;
  }

  .x-panel-header-default {
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8 !important;

    .x-panel-header-title-default {
      font-size: 16px;
      font-weight: $criterion-font-weight-semibold;
    }

    .criterion-btn-transparent .x-btn-glyph {
      font-weight: bold;
      color: #999 !important;
    }
  }

  .criterion-btn-primary.x-btn-default-toolbar-small.x-toolbar-item {
    min-width: unset;
  }

  .criterion-btn-primary {
    background-color: $base-color !important;
  }

  .criterion-btn-light {
    background-color: #9d9d9d !important;
    border-color: transparent !important;
  }

  .criterion-btn-light, .criterion-btn-primary {
    .x-btn-inner {
      font-weight: $criterion-font-weight-semibold;
    }
  }

  .criterion-help-contact-container {
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
  }

  .x-grid-row-expander-spacer {
    display: none;
  }

  .x-grid-row-expander {
    background-image: none;
    padding-top: 10px;
    &::after {
      width: 18px;
      height: 18px;
      font-size: 18px;
      font-family: $ionicons-font-family;
      content: $ionicon-var-ios7-arrow-up;
    }
    &:focus {
      outline: none;
    }
  }

  .x-grid-row-collapsed {
    .x-grid-row-expander {
      &::after {
        content: $ionicon-var-ios7-arrow-down;
      }
    }
  }

  .release-date {
    margin-top: 5px;
    color: #9d9d9d;
    display: block;
  }

  .read-full {
    color: $base-color;
    font-weight: $criterion-font-weight-semibold;
    font-size: 14px;
    padding-bottom: 5px;
    display: block;
  }
}

.criterion-help-control {
  .x-segmented-button-item, .x-segmented-button-item.x-btn-over, .x-segmented-button-item.x-btn-focus {
    background-color: #363d4c;

    &.x-btn-pressed {
      background-color: $base-color !important;;
    }
  }

  .btn-close {
    background-color: #e74848 !important;
  }

  .x-btn-icon-el-default-small {
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
}
