.ess-modern-scheduling-unavailable {
  .recurring-cell {
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Material Icons';
    font-size: 12px;

    .x-inner-el {
      padding: 0;
      display: none;
    }
  }

}
