.criterion-time-timeoff-time-balances {
  background-color: $criterion-b-gray !important;
  padding: 10px 0 10px 0;
  position: relative;

  .x-dataview-body-el {
    flex-wrap: nowrap;
    display: flex;
    padding: 0 10px 0 10px;
  }

  .x-body {
    overflow-y: hidden !important;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 120px;
    background: linear-gradient(to left, rgba(244, 244, 244, 0), $criterion-b-gray);
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 120px;
    background: linear-gradient(to right, rgba(244, 244, 244, 0), $criterion-b-gray);
    z-index: 2;
  }

  .x-dataview-item {
    width: 100px;
    position: relative;
    display: flex !important;
  }

  .timeItem {
    margin-right: 10px;
    width: 100px;
    height: 100px;
    background-color: rgba($criterion-light-gray, 0.5);
    border-radius: 6px;

    .name {
      font-size: 12px;
      text-align: center;
      line-height: 16px;
      height: 38px;
      display: flex;
      margin-bottom: 10px;
      word-break: break-word;
      max-width: 90px;
      padding-top: 12px;
      overflow: hidden;

      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      span {
        align-self: center;
        flex: 1;
      }
    }

    .value {
      max-width: 90px;
      font-weight: normal;
      color: $criterion-blue;
      font-size: 22px;
      text-align: center;
      margin-bottom: 5px;
      overflow-y: hidden;
      line-height: 22px;
    }

    .desc {
      color: $criterion-dark-gray;
      font-size: 12px;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
