.criterion-selfservice-dashboard-info-action-panel-action-btn {
  border-radius: 0;
  border-bottom: 1px solid #ececec !important;
  padding: 5px;

  &.x-btn-over {
    .x-btn-wrap {
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 3px;
    }

    .x-btn-icon-el {
      display: block;
    }
  }

  &.back-action {

    .x-btn-inner-light-small {
      padding: 0 10px 0 20px;
    }

    .x-btn-icon-el {
      left: 0;
      display: block;

      &:after {
        font-family: Ionicons;
        content: $ionicon-var-ios7-arrow-thin-left;
        color: #82868e;
        font-weight: 600;
        font-size: 17px;
      }
    }
  }

  .x-btn-wrap {
    padding: 14px 5px;
  }

  .x-btn-inner {
    font-size: 15px !important;
    font-weight: 600 !important;
    color: #282e3a !important;
    text-transform: uppercase;
  }

  .x-btn-icon-el {
    position: absolute;
    right: 0;
    display: none;

    &:after {
      font-family: Ionicons;
      content: $ionicon-var-ios7-arrow-thin-right;
      color: #82868e;
      font-weight: 600;
      font-size: 17px;
      display: block;
      margin-top: 2px;
    }
  }

  .btnBangeEl {
    display: none;
    width: 15px;
    height: 15px;
    background-color: #e26978;
    border-radius: 15px;

    font-size: 10px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    line-height: 15px;
  }

  .x-btn-has-bange-val {
    .btnBangeEl {
      display: block;
    }
  }
}
