$criterion-white: #FFFFFF;
$criterion-b-gray: #F9F9FD;
$criterion-light-gray: #E5E8ED;
$criterion-gray: #CED3DF;
$criterion-dark-gray: #909AB5;
$criterion-black: #343C4F;
$criterion-blue: #0096EB;
$criterion-red: #FF2741;

$criterion-darken-gray: #999999;
$criterion-border-light-grey: #E2E2E2;

$criterion-green: #6aa84f;
$criterion-orange: #ff8d01;

$criterion-orange-ess: #ff6b5f;
$criterion-green-d: #2bb36f;

// workflow colors
$criterion-workflow-rejected: #F76057;
$criterion-workflow-verified: #357E58;
$criterion-workflow-approved: #43B97C;
$criterion-workflow-pending-approval: #FEBB26;
$criterion-workflow-not-submitted: #CED3DF;

$criterion-font-weight-regular: 400;
$criterion-font-weight-semibold: 600;
$criterion-font-weight-bold: 700;

@mixin criterion-round-picture($size) {
  width: $size;
  height: $size;

  @include border-radius($size / 2);

  img {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

.criterion-green {
  color: $criterion-green !important;
}

.criterion-blue {
  color: $criterion-blue !important;
}

.criterion-red {
  color: $criterion-red !important;
}

.criterion-dark-gray {
  color: $criterion-dark-gray !important;
}

// @todo replace bottom code |||

.criterion-pending-changes-info {
  border-top: 1px solid $criterion-light-gray !important;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to top, rgb(244, 244, 244), rgba(244, 244, 244, 0));
    z-index: 2;
  }

  span {
    background-color: rgba(152, 251, 152, 0.4) !important;
  }
}

.criterion-signature-pad {
  border-top: 1px solid #EEE;
  margin-top: 10px;
}
