.criterion-settings {
  .criterion-no-settings-img {
    background: url("images/nosettings-placeholder-new.png") center center no-repeat;
  }

  .criterion-no-settings-text {
    text-align: center;
    overflow: hidden !important;
    color: #BDBDBD;
    font-weight: 300;
  }

  .criterion-arrow {
    background: url("images/placeholder-arrow.png") center center no-repeat;
    margin-right: 345px;
  }

}

.dateFormatDemo, .timeFormatDemo {
  position: absolute;
}