.criterion_settings_performance_reviews_manage_reviews_reviewers_widget {
  .ml {
    padding: 0;
    margin : 0 0 23px 0;
  }

  .x-btn {
    .x-btn-button {
      align-items: flex-start;
    }
  }
}
