.criterion-settings-benefit-plan-form {

  .left-panel-container .x-panel-body-default {
    background-color: #363d4d;
  }

  .buttons-container {
    background-color: #e7e7e7;

    .x-panel-body-default {
      background-color: #e7e7e7;
    }
  }
}
