.employee-login-confirm-panel {
  .headerPanel {
    text-align: center;

    h1 {
      &.new-employee-created,
      &.password-reset {
        color: $criterion-default-font-color;
        text-transform: uppercase;
        text-align: center;
        background-position: center top;
        background-repeat: no-repeat;
        padding-top: 170px;
        font-weight: 600;
        font-size: 20px;
      }

      &.new-employee-created {
        background-image: url(images/icon-employee-ok.png);
      }

      &.password-reset {
        background-image: url(images/icon-lock.svg);
      }
    }
  }

  .bodyPanel {

    &.new-employee-created,
    &.password-reset {
      margin-bottom: 1em;

      p {
        color: $criterion-font-color-inactive;
        text-align: center;
        font-size: 1em;
        line-height: 1.6em;
        margin: 0;
      }
    }
  }
}
