.criterion-color-legend {
  border: 1px solid #e1e1e1 !important;

  td {
    padding: 5px;
  }
}

.criterion-color-legend-title {
  text-align: center;
  font-weight: 600;
  padding: 5px;
}

.criterion-color-legend-color span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #e1e1e1;
  @include border-radius(10px);
}