.criterion-status-breadcrumb {
  background-color: $criterion-container-background;
  padding: 17px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);

  a {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    cursor: default !important;
    color: $criterion-default-font-color;
    font-size: $criterion-font-size-bigger;
    margin-right: 20px;
    font-weight: $criterion-font-weight-semibold;


    &::after {
      font-family: Ionicons;
      content: $ionicon-var-ios7-arrow-right;
      width: auto;
      display: inline-block;
      background: none;
      padding: 0 0 0 20px;
    }

    &:last-of-type::after {
      content: '';
      padding: 0;
    }

    &.active {
      color: $base-color;
      font-weight: bold;
      ~ a {
        color: $criterion-font-color-inactive;
      }
    }
  }

  .breadcrumb-extra-info {
    position: absolute;
    right: 20px;
    text-decoration: none;
    color: #3c3c3c;
    font-size: $criterion-font-size-bigger;
    font-weight: $criterion-font-weight-semibold;
  }

  .breadcrumb-additional-path {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    cursor: default !important;
    color: $base-color;
    font-size: $criterion-font-size-bigger;
    font-weight: bold;
    margin-right: -20px;

    &::before {
      font-family: Ionicons;
      content: $ionicon-var-ios7-arrow-right;
      width: auto;
      display: inline-block;
      background: none;
      padding: 0 20px 0 0;
    }
  }
}
