$boundlist-item-padding: dynamic(6px 6px 6px 6px);
$boundlist-item-selected-background-color: dynamic(#e8f4fb);
$boundlist-item-over-background-color: dynamic(#e8f4fb);
$boundlist-item-height: dynamic(36px);