$grid-cell-inner-padding: 14px 20px !default;
$grid-row-cell-selected-border-color: #dddddd !default;
$grid-row-cell-selected-background-color: rgba(252, 252, 252, 0.6) !default;
$grid-row-cell-over-border-color: $grid-row-cell-selected-background-color !default;

$grid-empty-color: #CCC !default;
