.criterion-selfservice-open-enrollment-benefit-form {
  .documentLink {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .documentLink-label {
    display: inline;
    margin-right: 50px;
  }
}
