.criterion-selfservice-open-enrollment {

  & > .x-header {
    letter-spacing: unset;
    font-size: $criterion-font-size-bigger;

    strong {
      font-weight: bold;
    }
  }

  .step-description {
    border-bottom: 1px solid #CCC;
  }

  .plan-panel {
    .x-panel-body-default {
      background-color: #FDFDFD;
      border: 1px solid #CCC;
    }

    .x-grid .x-toolbar {
      background-color: transparent;

      .x-toolbar-text {
        padding : 0;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .x-grid-item {
      border: none !important;

      .x-grid-cell-selected {
        background-color: unset;

      }
    }

    .panel-title {
      font-weight: bold;
      text-transform: uppercase;
    }

    .bottom-container {
      border-top: 1px solid #EFEFEF;
    }
  }

  .strong {
    .x-panel-body-default {
      font-weight: bold;
    }
  }

  .summary {
    .title {
      font-weight: bold;
      text-transform: uppercase;
    }

    .panel-summary {
      strong {
        font-weight: bold;
      }
      .x-panel-body-default {
        background-color: #FDFDFD;
        border: 1px solid #CCC;
      }
    }
  }

  .criterion_status_breadcrumb {
    @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.08));
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    padding: $criterion-panel-header-padding;

    &::after {
      display: none;
    }
  }

  .x-panel-bodyWrap .x-panel-body-default-framed,
  .x-panel-bodyWrap .x-panel-body-no-footer-framed {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
