@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600,400);

body, html {
    font-family: 'Open Sans', sans-serif;
    background-color: #F7F9FC;
    display: grid;
    height: 100%;
}

.page {
    background-color: #FFFFFF;
    display: block;
    width: 348px;
    padding: 56px;
    margin: auto;
    box-shadow: 0 0 20px rgba(239, 239, 239, 0.5);
    border-radius: 6px;
}

.logo {
    max-width: 100%;
    background-size: cover;
    background: no-repeat center center;
    height: 80px;
    display: block;
}

.text {
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    margin: 16px 10px;
}

.buttons {
    display: inline;
}

button {
    background-color: #0096EB;
    height: 50px;
    border-radius: 4px;
    border: none;

    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.reject, .approve {
    width: 166px;
    border: 1px solid;
    transition: background-color .2s;
}

.reject {
    margin-right: 10px;
    background-color: #FFFFFF;
    color: #F76057;
}

.reject.active, .reject:focus {
    background-color: rgba(247, 96, 87, 0.15);
    border-color: transparent;
    outline: none;
}

.approve {
    background-color: #FFFFFF;
    color: #13B078;
}

.approve.active, .approve:focus {
    background-color: rgba(19, 176, 120, 0.15);
    border-color: transparent;
    outline: none;
}

.submit {
    width: 100%;
}

.cancel {
    text-align: center;
    color: #0096EB;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 16px;
    cursor: pointer;
}

textarea {
    width: 342px;
    min-height: 132px;
    border: 1px solid #E5E8ED;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-bottom: 16px;
}

textarea::placeholder {
    color: #343C4F;
    font-size: 15px;
    opacity: 0.6;
    font-family: 'Open Sans', sans-serif;
}

.final {
    display: none;
    color: #343C4F;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
}

.employee {
    color :#0096EB;
}

.error {
    color: red;
}