.#{$prefix}grid-cell-inner-action-col {
    font-size: $action-column-glyph-size;
    line-height: 1;
    color: gray !important;

    .#{$prefix}action-col-text {
        font-size: 14px;
        text-decoration: underline;
    }

    .criterion-action-grid-btn {
        margin: 0 0 0 10px;
        padding: 5px 20px 5px 20px;
        &.glyph-only {
            padding: 5px 0;
        }
    }
}

.#{$prefix}grid-cell-inner-action-col {
    padding-bottom: 0;
    padding-top: 0;
}

.#{$prefix}action-col-cell {
    vertical-align: middle;
    margin-top: 12px;
}

.#{$prefix}action-col-icon {
    margin: 0 0 0 10px;
    width: 22px;
    font-size: 20px;
    color: gray;
    display: inline-block;
}

.#{$prefix}action-col-icon:hover {
    opacity: 0.7;
}
