.criterion-time-period-column {

  .x-column-header-inner {
    padding: 0 !important;
  }

  .time-period-column-header-period-container {
    height: 100%;

    display: flex;
    align-items: flex-end;
  }

  .period-block {
    margin: 0 0 0 100px;
    width: 100%;

    .time-marks {
      width: 100%;
      display: -webkit-inline-flex;
      display: inline-flex;

      .mark {
        flex : 1;
        font-size: 10px;
        font-weight: bold;
      }

      .l-mark {
        width: 50px;
        font-size: 10px;
        font-weight: bold;
      }
    }

    .period-marks {
      position: relative;
      height: 10px;
      margin-left: 7px;
      margin-right: 40px;

      .period-mark {
        position: absolute;
        height: 100%;
        border-left: 1px solid #CCC;
        width: 1px;
      }
    }
  }
}


