$menu-item-arrow-glyph: dynamic($ionicon-var-ios7-arrow-forward $menu-item-arrow-glyph-font-size $font-icon-font-family);
$menu-item-checkbox-glyph: dynamic($ionicon-var-android-checkbox-outline-blank $menu-item-checkbox-glyph-font-size $font-icon-font-family);
$menu-item-checkbox-checked-glyph: dynamic($ionicon-var-android-checkbox $menu-item-checkbox-glyph-font-size $font-icon-font-family);
$menu-item-checkbox-glyph-color: dynamic($silver);
$menu-glyph-color: dynamic($silver);
$menu-item-arrow-glyph-color: dynamic($silver);