$button-small-font-size: $criterion-button-font-size !default;
$button-small-border-radius: dynamic(3px);
$button-small-line-height: 18px;

$button-small-padding: dynamic(9.5px 30px 9.5px 30px);
$button-small-text-padding: dynamic(6px);

$button-compact-padding: dynamic(9.5px 10px 9.5px 10px);

$button-glyph-padding: dynamic(null);
$button-glyph-font-size: dynamic(24px);
$button-glyph-color: $battleship-grey;
$button-glyph-line-height: dynamic(24px);

$button-small-font-weight: $criterion-button-font-weight !default;

$button-default-border-color: transparent;
$button-default-color: dynamic(white);
$button-default-color-over: dynamic(white);
$button-default-color-pressed: dynamic(white);

$button-default-background-color: dynamic($criterion-ess-base-color);
$button-default-background-color-over: dynamic($criterion-ess-base-color);
$button-default-background-color-focus: dynamic($criterion-ess-base-color);
$button-default-background-color-focus-over: dynamic($button-default-background-color-over);
$button-default-background-color-focus-pressed: dynamic($criterion-ess-base-color);
$button-default-background-color-pressed: dynamic($criterion-ess-base-color);
$button-default-background-color-disabled: dynamic($criterion-ess-base-color-disabled);


$button-default-background-gradient-pressed: null;

$button-default-inner-border-width-focus: null;
$button-default-inner-border-color-focus: null;

$button-toolbar-background-color: dynamic($criterion-ess-base-color);
$button-toolbar-background-color-over: dynamic($criterion-ess-base-color);
$button-toolbar-color: dynamic(white);
$button-toolbar-font: dynamic(white);


$button-small-arrow-glyph: dynamic($ionicon-var-android-arrow-dropdown 14px $font-icon-font-family);
$button-small-split-width: dynamic(17px);

$criterion-button-border-radius: 2px;
$criterion-button-light-color: #444;

$criterion-button-feature-text-color: #EBEBEB;
$criterion-button-feature-background-color: $criterion-ess-base-color;
$criterion-button-feature-background-over-color: $criterion-ess-base-color-over;
$criterion-button-feature-border-color: transparent;

$criterion-button-font-size: dynamic(14px);
$criterion-button-font-weight: dynamic($criterion-font-weight-semibold);
$criterion-button-text-color: #D7D7D7;
$criterion-secondary-button-font-size: dynamic(13px);

$criterion-remove-color: rgb(234, 127, 119);
$criterion-remove-color-over: rgb(211, 114, 107);

$criterion-button-bazaar-color: #967D82;

$criterion-button-light-padding: dynamic(9px 20px 10px 20px);
$criterion-button-light-text-padding: dynamic(8px);

$button-toolbar-glyph-color: dynamic($dark);
$button-toolbar-border-color: dynamic(transparent);

$criterion-button-treenav-color: dynamic(transparent);
$criterion-button-treenav-text-color: dynamic($dark);
$criterion-button-treenav-padding: dynamic(6px);
$criterion-button-treenav-text-padding: dynamic(8px);
