.criterion-payroll-batch-approval, .criterion-payroll-process-pay {

  .bold {
    font-weight: bold;
  }

  .x-panel-body {
    background-color: $criterion-container-dark-background;
  }

  .values-panel-item {
    padding: 5px;

    &-wrap {
      padding: 20px 18px 17px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background-color: #fff;
      color: $panel-header-color;

      @include box-shadow(0px 0px 5px rgba(24, 24, 25, 0.1));
    }
    &-value {
      padding-bottom: 7px;
      font-size: 24px;
    }

    &-title {
      font-size: 12px;
    }

    &-value, &-title {
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .approvalData, .whitePanel {

    .x-panel-body {
      background-color: $criterion-container-background;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

  }

  .totalBlock {
    .x-panel-body {
      background-color: $criterion-container-dark-background;
      box-shadow: none !important;
    }
  }

  .headerBlock {
    div {
      min-height: 21px;
    }
    strong {
      font-size: 20px;
    }
  }

  .statusText {
    font-weight: bold;

    font-size: 20px;
    line-height: 25px;

    .icon {
      background: url(images/payroll_approve_sprite.png) 0 0 no-repeat;
      width: 26px;
      display: inline-block;
      height: 25px;
      vertical-align: bottom;
      margin-right: 5px;
    }

    &.approved {
      color: #1fcfb8;

      .icon {
        background-position: 0 -25px;
      }
    }
    &.pending {
      color: #fbb150;
    }
  }

  .blue-dashed {
    border-bottom: 1px dashed $criterion-blue;
    cursor: pointer;
    div {
      color: $criterion-blue;
    }
  }
}
