.criterion-payroll-batch-payrollentry {
  .criterion-gridpanel {
    .x-grid-row.inactive-entry {
      .x-grid-cell-inner {
        color: $criterion-red;
      }
    }
  }
}

.criterion-payroll-batch-payroll-entry-details {
  .row-override {
    background-color: $criterion-override-value-mark !important;
  }

  .row-rate-override {
    .rate-cell {
      background-color: $criterion-override-value-mark !important;
    }
  }
}

.notes-icon {
  cursor: pointer;
  font-size: 24px;

  &.filled {
    color: $criterion-orange;
  }
}

.notes-icon-details {
  cursor: pointer;
  font-size: 20px;

  &:after {
    content: "\f11b";
    color: $battleship-grey;
  }

  &.filled {
    &:after {
      content: "\f11a";
      color: $criterion-orange;
    }
  }
}
