.criterion-ess-main {
  .criterion-tab-bar-left {
    padding-top: 0px !important;

    .x-tab-bar-body-default {
      padding: 16px 0 40px 0 !important;
    }

    .x-tab.x-tab-default-left {
      padding-left: 0;

      &.x-tab-active, &.x-tab-over {
        .x-tab-wrap {
          border-left: $criterion-tab-bar-left-item-border-active;
          padding-left: 24px;
        }
      }

      &.x-tab-active {
        .x-tab-wrap .x-tab-inner {
          color: $base-color;
          font-weight: 600;
        }
      }

      &.with-sub-items {
        border-left: none;
        padding-left: 27px;
      }

      &.sub-item {
        padding-top: 13px;
        padding-bottom: 13px;

        span.x-tab-button {
          padding-bottom: 4px;
        }
      }

      .x-tab-inner {
        text-transform: none;
      }

      .x-tab-wrap {
        padding-left: 27px;
      }
    }

    .x-tab-section-label {
      color: $criterion-tab-bar-section-label-item-color;
      font-size: $font-size;
      text-transform: uppercase;
      padding: 25px 24px 10px 27px;
    }

    .x-tab-section-label:first-child {
      padding-top: 10px;
    }

  }
}
