// overrides
$toolbar-font-size: 13px !default;
$toolbar-background-color: dynamic(white);
$toolbar-horizontal-spacing: dynamic(15px);
$toolbar-border-width: 0 !default;

// Admin colors
$criterion-app-toolbar-admin-font-color: #ffffff !default;
$criterion-app-toolbar-admin-font-active-color: #fdfdfd !default;
$criterion-app-toolbar-admin-background: #0096EB !default;
$criterion-app-toolbar-admin-background-active: #0096EB !default;
$criterion-app-toolbar-admin-border: #0096EB !default;
$criterion-app-toolbar-admin-border-active: #0096EB !default;

$criterion-app-toolbar-admin-secondary-font-color: $criterion-app-toolbar-admin-font-color !default;
$criterion-app-toolbar-admin-secondary-font-active-color: $criterion-app-toolbar-admin-font-active-color !default;
$criterion-app-toolbar-admin-secondary-background: $criterion-app-toolbar-admin-background !default;
$criterion-app-toolbar-admin-secondary-background-active: $criterion-app-toolbar-admin-background-active !default;
$criterion-app-toolbar-admin-secondary-border: $criterion-app-toolbar-admin-border !default;
$criterion-app-toolbar-admin-secondary-border-active: $criterion-app-toolbar-admin-border-active !default;

$criterion-app-toolbar-admin-module-switcher-font-color: #f6f6f6 !default;
$criterion-app-toolbar-admin-module-switcher-font-active-color: #fdfdfd !default;
$criterion-app-toolbar-admin-module-switcher-background: #0096EB !default;
$criterion-app-toolbar-admin-module-switcher-background-active: #0096EB !default;
$criterion-app-toolbar-admin-module-switcher-border: #f6f6f6 !default;
$criterion-app-toolbar-admin-module-switcher-border-active: #f6f6f6 !default;

// SelfService colors
$criterion-app-toolbar-sse-font-color: $criterion-alternative-font-color !default;
$criterion-app-toolbar-sse-font-active-color: $criterion-alternative-font-color !default;
$criterion-app-toolbar-sse-background: #333333 !default;

$criterion-app-toolbar-sse-background-active: transparent !default;
$criterion-app-toolbar-sse-border: #f4f4f4 !default;
$criterion-app-moduletoolbar-sse-title-border: #dfdfdf !default;

$criterion-app-toolbar-sse-border-active: transparent !default;

$criterion-app-toolbar-sse-secondary-font-color: $criterion-app-toolbar-sse-font-color !default;
$criterion-app-toolbar-sse-secondary-font-active-color: $criterion-app-toolbar-sse-font-active-color !default;
$criterion-app-toolbar-sse-secondary-background: $criterion-app-toolbar-sse-background !default;
$criterion-app-toolbar-sse-secondary-background-active: $criterion-app-toolbar-sse-background-active !default;
$criterion-app-toolbar-sse-secondary-border: $criterion-app-toolbar-sse-border !default;
$criterion-app-toolbar-sse-secondary-border-active: $criterion-app-toolbar-sse-border-active !default;

$criterion-app-toolbar-sse-module-switcher-font-color: $criterion-app-toolbar-sse-font-color !default;
$criterion-app-toolbar-sse-module-switcher-font-active-color: $criterion-app-toolbar-sse-font-active-color !default;
$criterion-app-toolbar-sse-module-switcher-background: $criterion-app-toolbar-sse-background !default;
$criterion-app-toolbar-sse-module-switcher-background-active: $criterion-app-toolbar-sse-background-active !default;
$criterion-app-toolbar-sse-module-switcher-border: darken(#404040, 10%) !default;
$criterion-app-toolbar-sse-module-switcher-border-active: darken(#404040, 10%) !default;
