@mixin ess-box-shadow {
  @include box-shadow(0px 0px 2.7px 0.3px rgba(0, 0, 0, 0.13));
  border: none;
}

@mixin ess-box-shadow-0-1-10 {
  @include box-shadow(0px 1px 10px rgba(0, 0, 0, 0.07));
  border: none;
}

@mixin ess-box-shadow-0-2-10 {
  @include box-shadow(0px 2px 10px rgba(0, 0, 0, 0.07));
  border: none;
}
