.criterion-datagrid-table-columns {

  .el-table:before {
    font-family: "Ionicons";
    content: $ionicon-var-ios7-list-outline;
  }

  .el-column:before {
    font-family: "Ionicons";
    content: $ionicon-var-android-remove;
  }

  .x-grid-item-focused {
    background: transparent !important;
  }
}
