.criterion-time-timeoffs {
  .info-blk {
    background-color: $criterion-b-gray;

    .x-innerhtml {
      color: $criterion-dark-gray;
      font-size: 14px;
    }
  }
}

.criterion-time-timeoff {

}
