.x-toolbar-docked-bottom {
  .x-form-text-default {
    padding: 4px !important;
  }
}

.toolbar-ess-employee {
  @include ess-box-shadow;
  background-color: $panel-body-background-color !important;
  padding: 15px !important;
}

.x-toolbar-footer, .x-toolbar-docked-top, .x-toolbar-docked-bottom {
  overflow: visible;

  .#{$prefix}btn-default-toolbar-small {
    @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.2));
  }
}

.criterion-toolbar-paging {
  .#{$prefix}btn-plain-toolbar-small {
    padding: 9.5px 10px 9.5px 10px;
  }
}