.criterion-selfservice-dashboard-compare-grid-column {
  margin: 10px 0;
  padding: 0 10px;

  .value {
    display: none;
  }

  .mask {
    font-size: 30px;
    vertical-align: text-top;
  }

  .showBtn {
    display: inline-block;
    width: 22px;
    height: 22px;
    font-style: normal;
    vertical-align: middle;
    margin-left: 5px;

    &:after {
      font-family: Ionicons;
      content: $ionicon-var-ios7-eye;
      color: #888;
      font-size: 22px;
      display: block;
      margin-top: 2px;
    }
  }

  &.show-value {
    .value {
      display: inline;
    }
    .mask {
      display: none;
    }

    .showBtn {
      &:after {
        color: $criterion-blue;
      }
    }

  }
}
