.criterion-selfservice-dashboard-info-action-panel {
  overflow: visible;

  .x-box-inner {
    overflow: visible;
  }

  &.hasProfileCompletion {
    margin-top: 8px !important;
  }

  &.hasProfileCompletionOnly {
    margin-top: 17px !important;
  }

  .x-panel-body {
    background-color: #ffffff !important;
  }

  .criterion-ess-dashboard-grid, .criterion-ess-dashboard-grid-links {
    .x-grid-item-over, .x-grid-item-focused {
      border-left-color: transparent !important;
    }

    .x-panel-header-default-horizontal {
      border: none !important;
      padding: 8px 0 0 16px;
    }

    .x-panel-header-default .x-title-text {
      font-size: 15px;
      font-weight: $criterion-font-weight-semibold;
      padding: 0;
      position: relative;
      top: -1px;
      color: $dark;
    }

    .x-grid-group-hd,
    .x-grid-with-row-lines .x-grid-item,
    .criterion-ess-dashboard-grid-td .x-grid-cell-inner {
      border: none;
      background: #ffffff !important;
    }

    .x-grid-with-row-lines .x-grid-item,
    .criterion-ess-dashboard-grid-td .x-grid-cell-inner {
      padding: 7px 0 0 0px;
    }

    .x-grid-group-hd {
      padding: 12px 0 0 21px !important;
    }

    .x-group-hd-container {
      overflow: visible;
      padding-bottom: 8px;
    }

    .x-grid-item-container:after {
      content: '';
      display: block;
      height: 20px;
    }

    .x-grid-empty {
      background-color: #ffffff !important;
    }

    .count {
      color: $criterion-ess-base-color;
      min-width: 35px;
      height: auto;
      font-size: 15px;
      font-weight: $criterion-font-weight-semibold;
      margin-right: 10px;
      padding: 3px 7px;
      text-align: center;
      display: inline-block;
      float: right;
    }

    &.criterion-ess-dashboard-timeoffs {
      .count {
        color: $criterion-ess-base-color;
        border: none !important;
        background-color: transparent !important;
        min-width: 35px;
        height: auto;
        font-size: 13px;
        font-weight: bold;
        margin-right: 10px;
        padding: 3px 7px;
        border-radius: 15px;
        text-align: center;
        display: inline-block;
        float: right;
      }
    }

    .text {
      overflow: hidden;
      padding: 3px 8px 3px 0;
      text-overflow: ellipsis;
      color: $dark;
      font-size: 15px;
      font-weight: $criterion-font-weight-semibold;
    }

    .criterion-ess-dashboard-grid-td .x-grid-cell-inner {
      color: $grid-grouped-title-color;
      font: $grid-grouped-title-font;

      padding: 12px 0 8px 16px !important;
      cursor: default;
    }

    .criterion-ess-dashboard-grid-td-link .x-grid-cell-inner {
      color: $criterion-ess-base-color;
      font: $grid-grouped-title-font;

      padding: 7px 10px 3px 20px !important;
      cursor: default;

      a {
        color: $criterion-ess-base-color;
      }
    }

    span.panel-header-right {
      float: right;
      font-size: 14px;
      padding-right: 22px;
    }

    .x-grid-group-hd-collapsible {
      .x-grid-group-title {
        background: none;
      }
      .x-grid-group-title:before {
        font-family: Ionicons;
        content: $ionicon-var-arrow-down-b;
        font-size: 13px;
        color: #c4c4c4;
        text-align: center;
        margin: 0 10px 0 -10px;
        float: left;
        padding: 3px 0;
        width: 5px !important;
      }
    }

    .x-grid-group-hd-collapsed {
      .x-grid-group-hd-collapsible {
        .x-grid-group-title {
          background: none;
        }
        .x-grid-group-title:before {
          font-family: Ionicons;
          content: $ionicon-var-arrow-right-b;
          font-size: 13px;
          color: #c4c4c4;
          text-align: center;
          margin: 0 10px 0 -10px;
          float: left;
          padding: 3px 0;
          width: 5px !important;
        }
      }
    }
  }
}
