.criterion-selfservice-dashboard-left-panel {

  overflow: visible;
  .x-box-inner {
    overflow: visible;
  }

  & > .x-panel-bodyWrap > .x-panel-body {
    background-color: #ffffff !important;
  }

  .outerCircular {
    @include criterion-round-picture(94px);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }

  .circular {
    @include criterion-round-picture(92px);
    position: absolute;
    top: -4px;
    left: 2px;
    border: 3px solid white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 5px 13px rgba(0, 0, 0, .16) !important;
  }

  .photo {
    z-index: 100;

    img {
      cursor: pointer;
    }

    .upload-btn-wrap {
      display: none;
      position: absolute;
      right: 3px;
      bottom: 3px;

      .x-form-text-field-body {
        background: none;
      }

      .x-panel-body-default,
      .x-panel-default {
        background: transparent !important;
      }

      .x-btn {
        padding: 3px;
      }

      .x-btn-glyph {
        background-color: white;
        border-radius: 20px;
        font-size: 18px;
      }
    }

    &:hover .upload-btn-wrap {
      display: block;
    }
  }

  .name-position {
    margin-top: 10px;

    .name {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.33;
      text-align: center;
      color: #2a2f3a;
      margin-bottom: 8px;
    }

    .positionTitle {
      font-size: 13px;
      text-align: center;
      color: #787c85;
      margin-bottom: 4px;
    }

    .employerName {
      font-size: 13px;
      text-align: center;
      color: #787c85;
      font-weight: 600;
    }
  }

  .profile-grey-text {
    border-color: #ececec;
    border-width: 1px 0 1px 0;
    border-style: solid;
    padding: 0 0 0 20px;
    margin-top: 10px !important;

    .x-form-item-label-text {
      color: #787c85 !important;
      font-size: 13px;
      font-weight: normal;
    }

    .x-form-item-label-default {
      font-size: 14px;
      font-weight: 600;
      padding: 0;
      -webkit-padding-before: 1px;
      vertical-align: middle;
      position: relative;
    }
    .x-form-text-default {
      color: #2a2f3a !important;
      font-size: 13px;
      font-weight: bold;
    }
    .x-form-trigger-wrap {
      border: 0 !important;
    }
  }

  .hasNoProfileLocation {
    margin-top: 8px !important;
    border-top-width: 1px !important;
  }

  .profile-completion {
    margin: -8px 0 20px 0;
    padding: 0 60px;

    .name {
      margin: 10px 0 5px 0;
      font-size: 10px;
      text-align: center;
      color: #787c85;
    }

    .progress-container {
      line-height: 20px;
    }

    .progress-bar {
      height: 6px !important;
      top: 2px !important;
      border-radius: 5px;
      background-color: #eaeaea;

      .x-progress-bar-default {
        height: 6px;
        border-radius: 5px;
        background-color: $criterion-ess-base-color;
      }
    }
    .value {
      top: -5px !important;
      font-size: 13px;
      font-weight: 600;
      text-align: left;
      color: $criterion-ess-base-color;
    }
  }
}
