.criterion-settings-security-profile {
  .x-toolbar-default.criterion-form-toolbar {
    background-color: transparent;
    padding: 6px 0;
  }

  .widgets-grid {
    .x-grid-widgetcolumn-cell-inner {
      padding: 4px !important;

      .x-form-trigger-wrap {
        border: 0 !important;
        background-color: transparent !important;
      }
    }

    .x-grid-view {
      border-right: 1px solid #e2e2e2;
      border-left: 1px solid #e2e2e2;
    }

    .x-grid-header-ct {
      > .x-box-inner {
        border-right: 1px solid #e2e2e2;
        border-left: 1px solid #e2e2e2;
      }
    }

    .x-tagfield-input {
      .x-tagfield-input-field {
        width: 1px;
      }
    }
  }
}
