.criterion-employee-demographic-employment {
  .form_header {
    .x-panel-header {
      padding: 10px 10px 10px 10px;
      background-color: transparent;
    }
  }

  .approval-pending {
    color: $criterion-red;
    font-size: 10px;
    position: absolute !important;
  }
}
