$gridcolumn_background_color: dynamic($criterion-white);
$gridcolumn-color: dynamic($criterion-dark-gray);
$gridcolumn-border-color: dynamic($criterion-gray);

$gridcolumn_font_size_big: dynamic(14px);
$gridcolumn-padding-big: dynamic(12px 12px 10px);

$gridcolumn-sort-icon-font-size: dynamic(14px);

$gridcolumn-border-style: dynamic(none);
