.criterion-row-body-sync {
  .x-grid-rowbody {
    padding: 5px 0 !important;
  }

  .x-grid {
    width: 100% !important;
  }

  .x-grid-body {
    width: 100% !important;

    .x-grid-view {
      width: 100% !important;
    }
  }
}
