@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600,400);
@import "normalize.min.css";

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 15px;
    background-image: linear-gradient(219.1deg, #0096EB 13.68%, #0168C8 81.53%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    color: #343C4F;
}

/* Elements */

html, body, .page {
    overflow-y: auto;
}

#auth {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.auth-s-window {
    margin-top: auto;
}

.links {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    display: block;
    margin-top: auto;
    align-self: flex-end;
}

ul.links li {
    display: inline;
    font-size: 14px;
    color: #FFFFFF;
}

ul.links li a {
    color: #0096EB;
    font-weight: bold;
}

.form-bg h2 {
    margin: 0;
}

.field-holder {
    text-align: left;
    display: block;
    width: 323px;
}

.field-holder.hidden {
    display: none;
}

.field {
    color: #343C4F;
    font-weight: normal;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 15px 10px 15px;
}

input.field:-webkit-autofill,
input.field:-webkit-autofill:hover,
input.field:-webkit-autofill:focus,
input.field:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #7c7c7c;
}

.field:focus {
    border-color: #3892d3;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5);
}

.field[type=text] {
    width: 100%;
}

.login {
    color: #666666;
    font-size: 15px;
    border: 1px solid #E5E8ED;
    border-radius: 4px;
}

.password {
    color: #7c7c7c;
    font-size: 15px;
    margin-top: 6px;
    border: 1px solid #E5E8ED;
    border-radius: 4px;
}

.password input {
    flex: 1;
}

.show-password {
    -webkit-mask-image: url(../images/show_password.svg);
    mask-image: url(../images/show_password.svg);
    display: block;
    width: 24px;
    height: 24px;
    margin: auto 10px auto 0;
    cursor: pointer;
    background-color: #CED3DF;
    transition: background-color .1s ease-in-out;
}

.show-password:hover, .show-password.active {
    background-color: #343C4F;
}

.company_id {
    margin-bottom: 10px;
    display: none;
}

.fa {
    color: #7c7c7c;
    font-size: 15px;
    margin-top: 35px;
    border: 1px solid #E5E8ED;
    border-radius: 4px;
}

.login span, .password span, .fa span {
    font-size: 28px;
}

.fa-remem span {
    font-size: 15px;
    position: relative;
    bottom: 6px;
}

.fa-remem {
    margin-top: 0;
}

.no-border {
    border: none;
}

.lt-ie9 .field-text {
    padding-right: 0;
    padding-left: 0;
}

input.field-checkbox,
input.field-radio {
    position: relative;
    -webkit-appearance: none;
}

.lt-ie9 input.field-checkbox, .lt-ie9 input.field-radio {
    background: none !important;
}

.field-checkbox {
    -webkit-mask-image: url(../images/checkbox_off.svg);
    mask-image: url(../images/checkbox_off.svg);
    background-color: #CED3DF;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.field-checkbox.checked {
    -webkit-mask-image: url(../images/checkbox_on.svg);
    mask-image: url(../images/checkbox_on.svg);
    background-color: #0096EB;
}

input.field-radio {
    -webkit-mask-image: url(../images/radio_off.svg);
    mask-image: url(../images/radio_off.svg);
    background-color: #CED3DF;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.field-radio.checked {
    -webkit-mask-image: url(../images/radio_on.svg);
    mask-image: url(../images/radio_on.svg);
    background-color: #0096EB;
}

.field-radio ~ label:first-of-type {
    cursor: pointer;
}

.field.invalid {
    border-color: #cf4c35;
}

a {
    margin-left: 2px;
    color: #4183c4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.request-sent-msg {
    display: block;
    font-size: 15px;
    padding-bottom: 20px;
}

.forgot-password, .cancel {
    width: 100%;
    margin: 16px 0;
    text-align: center;
}

.forgot-password a,
.cancel a {
    color: #808080;
    font-size: 15px;
}

.btn-auth {
    border: 0;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    margin: 26px 0;
    display: block;
    background: #0096EB;
    border-radius: 4px;
    width: 323px;
}

.btn-auth:focus {
    outline: none;
}

.biometric-wrapper {
    display: none;
}

.biometric-pre {
    color: #909AB5;
}

span.scanning-icon {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../images/fingerprint.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    top: 4px;
    position: relative;
    margin-right: 5px;
}

span.scanning-icon.face-id {
    background-image: url(../images/face-id.svg);
}

span.scanning {
    display: inline-block;
}

/* Specific */

.error {
    color: #FA667F;
    display: block;
    font-size: 12px;
    width: 90%;
    margin: 16px 0;
}

.tenants .field-holder label.field-label {
    margin: 15px 0 8px 10px;
    position: relative;
    bottom: 4px;
}

.tenants {
    margin-top: 15px;
}

#auth_tenant h2, #auth_2fa h2 {
    margin: 20px 0;
    text-transform: uppercase;
}

#auth_2fa h2 {
    margin: 20px 0;
}

#auth_2fa {
    min-height: 200px;
}

.window-footer {
    padding: 9px 9px 6px 9px;
}

.tenant_logo {
    background-image: url(../images/criterion_logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 110px;
    margin-bottom: 60px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #7c7c7c;
}

.header-text {
    color: #343C4F;
    font-size: 25px;
    font-weight: 600;
    margin-top: 26px;
}


.main-panel {
    background: #FFFFFF;
    box-shadow: 0 -4px 20px rgba(145, 145, 145, 0.08);
    border-radius: 6px;
    width: 375px;
    display: inline-block;
}

#passCont {
    display: flex;
}

input, select, textarea {
    font-size: 15px;
}