.criterion-polar {
  &.light-grey-bg {
    background: $criterion-b-gray;
  }

  .chart-legend {
    &.x-dataview.x-container.x-component {
      background: $criterion-b-gray;

      .x-legend-body-el {
        background: $criterion-b-gray;

        .x-legend-item {
          color: $criterion-dark-gray;
          font-size: 14px;
          font-weight: 600;
          border-color: $criterion-gray;

          &:first-child {
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
          }

          &:last-child {
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
          }
        }
      }
    }
  }
}

