$boundlist-item-padding: dynamic(7px 12px 7px 12px);
$boundlist-item-height: 34.8px;
$boundlist-item-font-weight: $criterion-font-weight-semibold;
$boundlist-border-radius: dynamic(3px);
$boundlist-item-selected-background-color: $criterion-item-over-bg;
$boundlist-item-over-background-color: $criterion-item-over-bg;
