$datepicker-background-color: #F9F9F9 !default;

$datepicker-item-border-width: 0px !default;
$datepicker-item-font-size: 11px !default;

$datepicker-header-background-color: #4f5b75 !default;

$datepicker-column-header-font-size: 12px !default;
$datepicker-column-header-background-color: #e3f0f9;
$datepicker-column-header-font-weight: $criterion-font-weight-bold;
$datepicker-column-header-color: $datepicker-header-background-color;

$datepicker-month-button-font-weight: $criterion-font-weight-regular;

$datepicker-footer-button-font-weight: $criterion-font-weight-regular;

$datepicker-footer-button-font-size: 14px;

$datepicker-item-today-border-color: $datepicker-header-background-color;

$datepicker-footer-background-color: #919191;

$datepicker-item-hover-background-color: $datepicker-column-header-background-color;

$datepicker-item-selected-background-color: $datepicker-header-background-color;
$datepicker-monthpicker-item-selected-background-color: $datepicker-header-background-color;

$datepicker-monthpicker-item-hover-background-color: $datepicker-column-header-background-color;

$datepicker-month-button-color: #F9F9F9 !default;

$datepicker-item-prev-next-color: lighten($datepicker-item-color, 50%);
$datepicker-item-selected-border-radius: 10px !default;
$datepicker-item-selected-border-style: none !default;
$datepicker-item-selected-color: #F9F9F9 !default;

$datepicker-item-padding: 0px !default;
$datepicker-item-size: 20px !default;
$datepicker-item-width: $datepicker-item-size !default;
$datepicker-item-height: $datepicker-item-size !default;
$datepicker-item-margin-top: 6px !default;
$datepicker-item-margin-side: 8px !default;

$datepicker-item-today-border-style: solid !default;
$datepicker-item-today-border-width: 1px !default;

$datepicker-footer-padding: 0 !default;


