.x-boundlist-item {

  &.x-item-disabled {
    background-color: $criterion-disabled-field-background;
    color: $criterion-disabled-field-text-color;
  }

  &.item-enab-false {
    display: none;
  }

  &.old-value {
    color: #999 !important;
  }
}
