.criterion-filefield {

  .x-form-trigger-wrap-default {
    border: none;
  }

  &.view-trigger {
    .x-form-file-wrap .x-form-trigger-wrap .x-form-text {
      border-width: 1px 0 1px 1px;
    }
    .criterion-view-trigger {
      border-width: 1px 1px 1px 0;
    }
  }

  .criterion-view-trigger {
    @include criterion-form-trigger('\f425', black, transparent);

    border-color: $form-field-border-color;
    border-style: solid;

    &:after {
      font-size: 20px;
    }

    &:before {
      display: none;
      content: '';
    }
  }

  .x-form-file-wrap .x-form-trigger-wrap.x-form-trigger-wrap-invalid {
    .x-form-text, .criterion-view-trigger {
      border-color: $error-color;
    }
  }

}