.ess-modern-time-timesheet-total-bar {
  .x-innerhtml {
    display: -webkit-inline-flex;
    display: inline-flex;
    background-color: $criterion-b-gray;
    padding: 0 10px;
    width: 100%;
  }

  .separator {
    flex : 1
  }

  .valueBlock {
    &.totalHours {
      margin-left: 20px;
    }

    .title {
      color: $criterion-dark-gray;
      font-size: 12px;
    }

    .value, .hrsStr {
      color: $criterion-black;
    }

    .zeroTimeCls {
      color: $criterion-black !important;
    }
  }

  .startDate {
    margin-right: 10px;
  }
}
