$form-label-font-color: $battleship-grey;
$form-label-font-weight: $criterion-font-weight-semibold;
$form-label-font-size: 14px;

$form-error-msg-color: dynamic($error);
$form-error-msg-font-size: dynamic(12px);
$form-error-under-padding: dynamic(5px 0 0 0);

$form-item-margin-bottom: dynamic(21px);