.criterion-settings-org-unit-types-form {
  .criterion-mainLabel {
    font-size: 20px;
    margin-bottom: 10px;

    .x-form-item-label-inner {
      border-bottom: 1px solid #CCC;
      color: #4183c4;
    }
  }

  .criterion-unitsLabel {
    margin-bottom: 10px;

    .x-form-item-label-inner {
      border-bottom: 1px solid #CCC;
    }
  }

  .criterion-erase {
    .x-btn-glyph {
      font-size: 30px;
      color: #4183c4;
      font-weight: bold;
    }
  }
}
