.criterion-ess-preferences-security {

  .criterion-twofa-false {
    color: $criterion-ess-base-color;
    &:before {
      content: '';
      background-image: theme-background-image('icon/off') !important;
      background-color: transparent;
      width: 16px;
      height: 15px;
      display: inline-block;
    }
  }

  .criterion-twofa-true {
    color: $base-color;
    &:before {
      content: '';
      background-image: theme-background-image('icon/on') !important;
      background-color: transparent;
      width: 16px;
      height: 15px;
      display: inline-block;
    }
  }

  .resetLink {
    span {
      color: $base-color;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .twoFA {
    color: $base-color;
    text-decoration: underline;
    cursor: pointer;
  }
}

.criterion-preferences-password-success {
  .x-toolbar, .x-panel-default, .x-panel-body-default {
    background-color: #fefefe !important;
  }

  .x-toolbar {
    border-top: 1px solid #ebebeb !important;
  }

  .criterion-preferences-password-success-text {
    font-size: 17px;
  }

  .criterion-btn-primary {
    border-radius: 3px;
  }
}
