$toggle-color : #4dd865;

.x-toggle {
  width : 3.4em;
}

.x-toggle-on {
  background-color: $toggle-color;
  border-color: $toggle-color;
  background-image: none;

  &:before {
    background-color: $toggle-color;
  }
}

.x-thumb {
  top: 0 !important;
  position: relative;
}

.x-thumb:after {
  border-color: white;
  background: white;
}
