.criterion-employee-timesheet-dashboard {

  .x-grid-cell {
    .x-focus {
      background: #EEE !important;
    }

    .addBtn {
      margin: 5px 0 0 5px !important;
      padding: 2px 0 0 0 !important;
    }
  }

  .tt-column-focused {
    background: #EEE !important;
  }

  .x-grid-item {
    border-left-width: 0 !important;
  }

  .criterion-btn-like-link {
    padding: 0;

    .x-btn-inner {
      color: #000 !important;
    }
  }

  .criterion-btn-feature {
    padding: 0 !important;
  }

  .ts-link {
    color: $criterion-red;
  }

  .ts-first-el {
    margin-top: 0;
  }

  .ts-status {
    font-weight: bold;
    margin-left: 20px;
  }

  .x-grid-item-over, .x-grid-item-focused {
    //border-left-color: transparent !important;
  }

  .x-grid-cell-first {
    .x-grid-cell-inner.no-padding {
      padding: 0 !important;
    }
  }

  .type_cls {
    padding: 19px 0 !important;

    background-color: white;

    &.in {
      background-color: $criterion-green;
    }
    &.out {
      background-color: $criterion-red;
    }
    &.break {
      background-color: yellow;
    }
  }

  .options-description {
    .x-panel-default,
    .x-panel-body-default
    {
      background-color: transparent;
    }

    .caption-column {
      white-space: nowrap;
      width: 100px;
      padding-right: 10px;
      .x-panel-body-default {
        font-size: .9em;
      }
    }
    .value-column {
      margin-right: 20px;
      .x-panel-body-default {
        font-size: .9em;
      }
    }
  }
}
