.x-list-plain {
  .combo-group-wrapper {
    border-top: 1px solid #CCC !important;
  }

  .combo-group-wrapper:first-child {
    border-top: 0 !important;
  }

  .combo-group-wrapper-bottom {
    border-bottom: 1px solid #CCC !important;
  }
}
