.criterion-settings-performance-reviews-review-period-employee-form {
  .reviews-tbar {
    background-color: #fafafa;
  }

  .sub-review-grid {
    .x-panel-bodyWrap {
      border: 1px solid #EEE;
    }

    .x-grid-item-selected {
      background-color: white !important;
    }
  }

  .criterion-btn-only-icon {
    padding: 0;
    border: 0;

    .x-btn-icon-el {
      color: #CCC;
    }
  }

  .text-cmp {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .criterion-btn-like-link {
    padding: 0;
  }

  .x-progress {
    height: 13px !important;
    margin-top: 2px !important;
  }

  .x-progress-default {
    background-color: #E8F4FB;
  }

  .x-progress-bar-default {
    background-color: #0096EB;
  }
}
