.criterion-selfservice-resources-my-calendar {
  .ext-cal-day-holiday {
    background: #f5f5f5;
    position: relative;

    &::after {
      content: "Holiday";
      position: absolute;
      top: 15px;
      right: 10px;
      z-index: 2;
      color: #555;
      text-shadow: rgba(244, 244, 244, 0.25) 0 0.08em 0;
      font-size: 12px;
    }
  }

}

.ext-cal-day-tooltip {
  .tooltipBody {
    padding: 0 7px 7px 7px;
  }

  .employeeName {
    color: #FE5000;
    font-size: 1.1em;
  }

  .timeoffType {
    margin: 7px 0 0 0;

    .timeoffTypeMark {
      width: 10px;
      height: 10px;
      border-radius: 5px;
      display: inline-block;
      margin: 0 5px 0 0;
    }
  }

  .fullDay {
    margin: 7px 0 0 0;
    color: #FE5000;
  }

  .time {
    margin: 7px 0 0 0;
  }

  .date {
    color: #CCC;
  }

  .noteTitle {
    margin: 7px 0 0 0;
    color: #111;
  }

  .note {
    color: #CCC;
  }
}
