.criterion-selfservice-resources-reports {
  .x-toolbar-default {
    background-color: transparent;
    padding: 6px 0 0 10px;
  }

  .x-panel-body-default {
    background-color: white;
  }

  .criterion-reports-container {
    border: 1px solid $criterion-light-gray;
    .x-panel-body-default {
      background-color: white;
    }
  }

  .criterion-side-panel {
    border-right: 1px solid $criterion-light-gray;
    .criterion-side-field {
      border-bottom: none;
    }
    .criterion-side-tree {
      padding-top: 10px !important;
    }
    .x-grid-cell-inner-treecolumn {
      padding: 14px 20px 14px 6px
    }
  }
}