.criterion-grid-menu {

  .x-menu-item-default.x-menu-item-active {
    background-color : $criterion-item-over-bg;
  }

  .x-menu-item-arrow-default {
    top: 15px;
    right: 15px;
  }

  .x-menu-item-active .x-menu-item-arrow-default {
    top: 15px;
    right: 15px;
  }
}