.ess-external-links {
  .ess-external-links-list-item {
    &.x-selected {
      background-color: transparent !important;
    }

    .text-link {
      color: $criterion-red;
      text-decoration: underline;
    }
  }
}
