.ess-login {

  .logo {
    height: 143px;
    width: 212px;
    display: block;
    background: url(images/mobile-login-logo.png) no-repeat 0 0;
    margin: 4em auto 5em auto;
  }
  .swipe-button {
    height: 165px;
    width: 164px;
    display: block;
    background: url(images/swipe-button.png) no-repeat 0 0;
    margin: 0 auto;
  }

  .login:before {
    content: '';
    background: url(images/person.png) no-repeat;
    background-size: 1em 1em;
    width: 1em;
    height: 1em;
    display: block;
    position: absolute;
    margin-left: 0.5em;
    z-index: 9999;
    margin-top: 11px;
  }

  .password:before {
    content: '';
    background: url(images/lock.png) no-repeat;
    background-size: 1em 1.1em;
    width: 1em;
    height: 1em;
    display: block;
    position: absolute;
    margin-left: 0.5em;
    z-index: 9999;
    margin-top: 11px;
  }

  .x-textfield {
    width: 80%;
    margin-left: 10%;
    .x-input-el {
      margin: 0 30px;
      padding: 0.5em 1.7em;
    }
  }
}
