.cb_left_filter {
  .x-label-text-el {
    font-weight: bold;
    color: black;
  }

  .x-component-outer {
    flex: 1;

    .x-input {
      border: 0 !important;

      .x-input-el {
        color: #0096eb;
      }
    }
  }

  .x-icon-el {
    color: #0096eb;
  }
}
