.time-clock-announce {

  background-color: #fbfbfb;
  text-align: center;

  .date-time {
    //position: absolute;
    //top: 100px;
    margin: auto auto;
  }

  .hours, .minutes {
    border: 1px solid #dadada;
    padding: 20px;
    border-radius: 10px;
    font-size: 48px;
    width: 93px;
    height: 93px;
    color: #1d8bf1;
  }

  .minutes {
    margin-left: 12px;
  }

  .date {
    font-size: 18px;
    margin-top: 40px;
  }

  .message {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    overflow-y: auto;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    position: absolute;
    bottom: 30px;
    top: 260px;
    left: 10%;
    right: 10%;
  }
  
  .top-icons {
    color: #7c7c7c;
    font-size: 22px;
  }
}