.criterion-plan-form-option-group-header {
  background-color: white;
  padding-left: 25px;
  padding-bottom: 7px;
  padding-top: 7px;
  border-bottom: 1px solid #ebebeb !important;

  .x-autocontainer-form-item {
    margin-bottom: 0;
  }

  .x-form-item-label-inner {
    text-transform: uppercase;
    font-weight: bold;
  }
}