.criterion-ess-community-htmleditor {
  .community-htmleditor-emptytext {
    position: absolute;
    top: 0;
    padding: 3px;
    padding-left: 8px;
    color: #a6a6a6;
  }

  .x-htmleditor-iframe {
    image:focus {
      outline: 2px solid #999;
    }
  }
}
