.criterion-ess-community-stream {

  $criterion-ess-community-stream-green: dynamic($criterion-ess-base-color);

  border: 1px solid #ededed;
  @include border-radius(5px);

  .hidden {
    display: none !important;
  }

  .posting-edit-trigger, .reply-edit-trigger {
    margin-left: 10px;
    cursor: pointer;

    i {
      margin-right: 5px;
    }
  }

  .emptyFeed {
    width: 100%;
    text-align: center;
    padding-top: 100px;

    img {
      width: 332px;
      height: 281px;
      object-fit: contain;
    }

    .emptyText {
      font-size: 14px;
      color: #787c85;
    }
  }

  .posting {

    .postBody {
      padding: 15px 15px 0 15px;
    }

    .posting-edit-trigger {
      visibility: hidden;
    }

    .postBody:hover {
      .posting-edit-trigger {
        visibility: visible;
      }
    }

    &.x-view-item-focused {
      outline: none !important;
    }

    color: #444444;

    .heading {
      overflow: hidden;

      > * {
        display: inline-block;
      }

      .header-photo {
        background-size: 100%;
        @include criterion-round-picture(40px);
      }
      .header-photo-wrap {
        @include criterion-round-picture(42px);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.06);
        border: 1px solid #ffffff;
      }
      .header-center {
        padding: 4px 0 0 12px;
        position: absolute;

        .datestamp {
          margin: 0;
          font-size: 12px;
          color: #b9b9b9;
        }
        .employee-name {
          margin: 3px 0 0 0;
          font-size: 15px;
          font-weight: $criterion-font-weight-semibold;
          color: #282E3A;
        }

        .edited {
          font-weight: $criterion-font-weight-semibold;
          font-style: italic;
          color: #9b9b9b;
        }
        sup.inactive {
          margin-left: 3px;
          font-size: 0.6em;
          color: #444
        }

        .employee-name {
          cursor: pointer;

          &:hover span {
            text-decoration: underline;
          }

          &.author-inactive {
            span {
              text-decoration: line-through;
            }
          }
        }
      }
      .header-community {
        font-weight: $criterion-font-weight-bold;
        text-transform: uppercase;
        font-size: 11px;
        background-size: 12px;
        padding-left: 16px;
        background-repeat: no-repeat;
        background-position: 0 center;
        position: absolute;
        right: 35px;
        padding-right: 4px;
        margin-top: 4px;
      }
    }
  }

  .content {
    position: relative;
    overflow: hidden;

    &.with-badge {
      min-height: 60px;
    }

    > * {
      display: inline-block;
    }

    .content-message {
      padding: 8px 100px 0 0;
      font-size: 13px;
      color: #282e3a;
      line-height: 22px;
    }

    .content-badge {
      width: 80px;
      position: absolute;
      top: -3px;
      right: 5px;
      text-align: center;

      img {
        width: 36px;
      }

      span {
        font-weight: $criterion-font-weight-semibold;
        text-align: center;
        margin: 0;
        font-size: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: break-word;
        display: block;
        line-height: 12px;
      }
    }
  }

  .footer {
    overflow: hidden;

    > * {
      display: inline-block;
    }

    border-top: 1px solid #ebecee;
    margin-top: 10px;
    padding: 10px 0 10px 0;

    i, span {
      color: #787C85;
    }

    i {
      padding-right: 5px;
    }

    .footer-likes, .footer-replies, .footer-edit, .footer-attachments {
      margin-right: 10px;
      font-size: 13px;
      font-weight: $criterion-font-weight-semibold;
      color: #787C85;

      border-radius: 2px;

      &:hover {
        text-decoration: underline;
      }

      i {
        font-size: 18px;
        vertical-align: text-bottom;
      }
    }

    .has-my-like, .has-my-reply {
      color: $criterion-ess-community-stream-green;
      i {
        font-size: 18px;
        color: $criterion-ess-community-stream-green;
      }
    }

    .footer-attachments {
      color: $criterion-ess-community-stream-green;
      i {
        font-size: 18px;
        color: $criterion-ess-community-stream-green;
      }
    }

    .footer-comments, .footer-likes, .footer-replies, .footer-edit, .footer-attachments {
      cursor: pointer;
    }

    .footer-comments {
      float: right;

      i.ion {
        font-size: 11px;
        color: #9b9b9b;
      }
    }
  }

  .reply {
    overflow: hidden;
    position: relative;

    .reply-edit-trigger {
      visibility: hidden;
    }

    &:hover {
      .reply-edit-trigger {
        visibility: visible !important;
      }
    }

    > * {
      display: inline-block;
    }

    border-top: 1px solid #eeeeee;

    padding: 10px 0;

    .reply-photo {
      background-size: 100%;
      @include criterion-round-picture(32px);
    }
    .reply-photo-wrap {
      position: absolute;
      top: 15px;
      left: 15px;
      @include criterion-round-picture(34px);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.06);
      border: 1px solid #ffffff;
    }

    .reply-content {
      padding: 0 20px 0 60px;
      width: 100%;

      min-height: 45px;
      margin-top: 4px;

      sup.inactive {
        margin-left: 3px;
        font-size: 0.6em;
        color: #444
      }

      .reply-edit-box-internal {
        margin-top: 20px;
        margin-left: -60px;
      }

      .reply-date {
        margin: 0;
        font-size: 12px;
        color: #b9b9b9;
      }

      .reply-name {
        margin: 3px 0 0 0;
        font-size: 15px;
        font-weight: $criterion-font-weight-semibold;
        color: #282E3A;
        cursor: pointer;

        &:hover span {
          text-decoration: underline;
        }

        &.author-inactive {
          span {
            text-decoration: line-through;
          }
        }
      }
    }

    .reply-message {
      font-size: 13px;
      margin-left: 14px;
      color: #787c85;
    }
  }

  .x-datalist-item {
    cursor: pointer;
  }

  .load-more-button {
    width: 100%;
    background-color: transparent !important;
    @include box-shadow(none !important);
    margin: 8px 0 15px 0;

    .x-btn-inner-default-small {
      font-weight: $criterion-font-weight-semibold;
      font-size: 14px;
      text-align: center;
      color: #9b9b9b;
      text-decoration: none;
    }
  }

  .write-a-reply {
    display: inline-flex;
    width: 100%;
    border-top: 1px solid #ebecee;
    padding: 8px 0 9px 15px;

    .write-a-reply-photo {
      background-size: 100%;
      @include criterion-round-picture(32px);
    }
    .write-a-reply-photo-wrap {
      @include criterion-round-picture(34px);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.06);
      border: 1px solid #ffffff;
      margin-right: 10px;
      margin-top: 2px;
    }

    .write-a-reply-btn {
      border-radius: 3px;
      border: solid 1px #e5e7eb !important;
      background-color: #ffffff !important;
      width: 100%;
      height: 32px;
      font-size: 13px;
      padding: 8px 0 8px 15px;
      margin: 3px 15px 0 0;
      font-weight: $criterion-font-weight-semibold;
      color: #c4c4c4 !important;
      cursor: pointer;
    }
  }

  .feed-entry {
    background-color: #ffffff;
    margin: 9px 20px 15px 20px;
    border: 1px solid $criterion-main-panel-ess-bg;
  }

  .attachments-list {
    margin-top: 8px;

    .attachment {
      font-size: 12px;
      font-weight: $criterion-font-weight-semibold;
      cursor: pointer;
      color: #787c85;
      &:not(:last-child) {
        margin-right: 10px;
      }

      &:hover {
        text-decoration: underline;
      }

      i.ion.ion-paperclip:before {
        font-size: 23px;
        margin: 0 7px 0 4px;
        vertical-align: middle;
      }
    }
  }
}
