.criterion-selfservice-time-team-time-offs {
  .x-panel-body:first-child {
    box-shadow: none !important;
  }

  .criterion-selfservice-team-time-time-off-dashboard {
    & > .x-panel-bodyWrap > .x-toolbar {
      background-color: #f0f1f2 !important;
    }

    .criterion-pseudo-header {
      background-color: white !important;
    }
  }
}
