$form-field-padding: 8px 12px !default;
$form-field-font-size: $font-size - 1 !default;

$form-field-height: 36px !default;
$grid-cell-field-height: 22px !default;

$form-label-vertical-spacing: 10px !default;

$form-field-disabled-opacity: 1 !default;
$form-text-field-background-color: transparent;
$form-field-invalid-background-color: dynamic(transparent);
