.criterion-settings-workflow-track {

  .step-grid {
    .x-panel-bodyWrap {
      border: 1px solid #EEE;
    }

    .complete-btn {
      color: $criterion-blue;
    }
    .reject-btn {
      color: $criterion-red;
    }
    .recall-btn {
      color: $criterion-red;
    }
    .delegate-btn {

    }
  }
}
