.criterion-orgchart-reports {
  .criterion-orgchart-supervisor {
    padding-top: 5px;
    text-align: center;
    font-size: larger;
    color: $base-color;
    font-weight: $criterion-font-weight-semibold;

    .x-unselectable {
      cursor: pointer;
    }

    .icon {
      font-size: larger;
      font-family: Ionicons;
      padding-right: 10px;
    }
  }
}