.criterion-person-info {
  border-bottom: 1px solid darken($criterion-employer-header-background-color, 10%) !important;

  .x-panel-body-default {
    background: $criterion-employer-header-background-color;
  }

  .photo {
    .circular {
      @include criterion-round-picture(90px);

      border: 4px solid white;
    }

    .upload-btn-wrap {
      position: absolute;
      right: 0px;
      bottom: -5px;

      .x-form-text-field-body {
        background: none;
      }

      .x-panel-body-default {
        background: transparent !important;
      }

      .x-btn {
        padding: 3px;
      }

      .x-btn-glyph {
        background-color: white;
        border-radius: 20px;
        font-size: 18px;
      }
    }
  }

  .info {
    .name {
      color: $base-color;
      font-size: $criterion-font-size-heading;
      margin-bottom: 10px;
      margin-top: 15px;
    }

    .employeeNumber {
      margin-top: 10px;
    }

    .employeeId {
      color: $criterion-employer-header-font-color;
    }

  }
}
