.criterion-selfservice-benefits-benefit-panel {
  &.caption-component {
    .x-panel-body {
      display: none;
    }

    .x-panel-header-title {
      cursor: default;
    }
  }

  .x-panel-header-title {
    cursor: pointer;
  }

  .title-table {
    width: 100%;

    td {
      width: 20%;
    }
  }

  .label {
    color: #777;
    font-weight: bold;
  }

  .value {
    color: #000;
  }
}
