//TODO Move to theme variables
.criterion-selfservice-recruiting-job-postings {
  .headerEl {
    background-color: #f0f1f2;
  }

  .ess-sub-menu-btn-separator {
    padding: 0 10px;
  }

  .criterion-tab-bar-top-border {
    .x-tab-bar {
      background-color: transparent !important;
    }

    .x-tab-bar-body {
      padding: 0;
    }
  }
}
