$criterion-tab-bar-left-background: $criterion-side-bg-color !default;
$criterion-tab-bar-left-item-color: $criterion-side-text-color !default;
$criterion-tab-bar-left-item-color-active: $criterion-side-text-color !default;
$criterion-tab-bar-left-item-background-active: $criterion-side-bg-alternative-color !default;
$criterion-tab-bar-left-sub-item-color: $criterion-side-text-alternative-color !default;
$criterion-tab-bar-left-sub-item-color-active: $criterion-side-text-alternative-color !default;
$criterion-tab-bar-section-label-item-color: #65707e !default;
$criterion-tab-bar-left-item-border-active: dynamic($criterion-side-border-active);
