.criterion-employer-companies {

  &.criterion-grid-panel {

    .x-grid-cell-inner {
      padding: 22px 25px;
    }

    tr > td:first-child {
      .x-grid-cell-inner {
        padding: 10px 25px;

        img {
          margin-right: auto;
          margin-left: auto;
          display: block;
        }
      }
    }
  }
}