$datepicker-background-color: dynamic(white);

$datepicker-header-background-color: dynamic(transparent);

$datepicker-column-header-background-color: dynamic(rgba(0, 0, 0, 0.03));
$datepicker-column-header-color: dynamic($dark);
$datepicker-column-header-font-weight: $criterion-font-weight-semibold;

$datepicker-month-button-font-weight: $criterion-font-weight-semibold;
$datepicker-month-button-arrow-glyph-color: dynamic($warm-grey);

$datepicker-item-font-weight: $criterion-font-weight-semibold;
$datepicker-item-font-size: dynamic(11px);
$datepicker-item-selected-background-color: dynamic($criterion-ess-base-color);
$datepicker-item-hover-background-color: dynamic(rgba(0, 0, 0, 0.1));


$datepicker-footer-button-font-weight: $criterion-font-weight-bold;
$datepicker-footer-button-font-size: 14px;
$datepicker-footer-background-color: #e7e7e7;
$datepicker-footer-background-color: dynamic(white);
$datepicker-footer-padding: dynamic(5px);


$datepicker-month-button-arrow-glyph: dynamic($ionicon-var-arrow-down-b 12px $font-icon-font-family);
$datepicker-prev-glyph: dynamic($ionicon-var-ios7-arrow-back 18px $font-icon-font-family);
$datepicker-next-glyph: dynamic($ionicon-var-ios7-arrow-forward 18px $font-icon-font-family);

$datepicker-month-button-color: dynamic($dark);

$datepicker-month-button-font-size: dynamic(15px);

$datepicker-monthpicker-item-selected-background-color: dynamic($criterion-ess-base-color);
$datepicker-monthpicker-item-hover-background-color: dynamic(rgba(0, 0, 0, 0.1));
