$picker-background-color: dynamic(#fff);
$picker-bar-background-color: dynamic(#fff);
$picker-item-selected-font-size: dynamic(15px);
$picker-item-selected-font-size-big: dynamic(15px);
$picker-item-selected-font-size: dynamic(15px);
$picker-item-selected-font-size-big: dynamic(15px);
$picker-item-selected-color: dynamic($criterion-blue);
