.criterion_payroll_batch_payroll_entry_details {
  .person {
    text-align: center;
    display: block;
    font-size: 20px;
    color: white;

    .personName {
      font-size: 20px;
    }

    .personNumber {
      padding-left: 10px;
      font-size: 12px;
    }
  }

  .panelTitle {
    font-weight: bold;
  }

  .criterion-btn-transparent {
    background-color: #E5EFF8 !important;

    .x-btn-inner {
      color: #666 !important;
      text-transform: uppercase;
    }

    .x-btn-glyph {
      color: #666 !important;
    }
  }

  .criterion-gridpanel {
    .x-grid-row {
      .x-grid-cell {
        & > .x-grid-widgetcolumn-cell-inner {
          padding: 4px 5px;
        }
      }
    }

    .x-panel-header {
      border: none;
      padding: 0 0 10px;
      background: white !important;

      .x-panel-header-title-default > .x-title-text-default {
        text-transform: none;
        font-size: 14px !important;
      }

    }

    .x-title-text {
      text-align: left;
    }

    input {
      text-align: right;
    }
  }

  .sub-grid {
    .x-column-header {
      background-color: #fafafa !important;
    }

    .x-column-header-inner {
      padding: 10px 10px 10px 20px !important;
    }

    .x-grid-with-row-lines .x-grid-item {
      border-color: #fff !important;
    }
  }
}
