.x-field {

  &.field-ra input {
    text-align: right;
    width: 95%;

    &[readonly='true'] {
      width: 100%;
    }
  }

  &.field-ra .x-toggle {
    float: right;
    margin-top: 3px;
    margin-right: 5px;
  }

  &.x-field-invalid .x-field-validation {
    display: block;
  }

  .x-field-validation {
    display: none;
    padding: 0 1.4em .625em 1.4em;
    line-height: 1.375em;
    color: $criterion-orange-ess;
  }

  input:read-only {
    &+.x-field-mask {
      display: none !important;
    }
  }

  &.x-required > .x-label-el:after {
    content: " *" !important;
    color: $criterion-red;
    vertical-align: super;
  }

  &.x-disabled, &.x-readonly {
    &.x-required > .x-label-el:after {
      display: none;
    }
  }
}

// for criterion.ux.field.CodeDetailMulty
// it's strange place, I know, but in other places sass compiler can't find ux.field

.criterion_code_detail_multy {
  .x-form-fieldset-title {
    line-height: 1.33334em !important;
    color: #a0a0a0 !important;
    font: 600 0.85715rem Roboto, sans-serif;
    margin-bottom: 5px;
  }

  .x-checkboxfield {
    padding-bottom: 0 !important;

    .x-label-text-el {
      color: black !important;
    }
  }
}

// criterion.ux.field.SSN

.criterion-field-ssn {
  .hide-value-trigger {
    .x-icon-el::before {
      content: 'remove_red_eye';
      color: $criterion-blue;
    }
  }

  &.criterion-hidden-value-hidden-state {
    .x-input-el {
      visibility: hidden;
    }

    .x-body-el {
      &::after {
        content: '··········';
        position: absolute;
        top: 10px;
        left: 0;
        font-size: 50px;
      }
    }

    .hide-value-trigger {
      .x-icon-el::before {
        color: rgba(17, 17, 17, 0.54);
      }
    }
  }
}

// criterion.ux.field.Format
.criterion-field-format {
  .x-format-el {
    font-size: 9px;
    color: #CCC;
  }
}
