.x-pickerfield {
  &.x-readonly {
    .x-trigger {
      visibility: hidden;
    }
  }

  .x-body-wrap-el {
    border: 1px solid #E5E8ED;
    border-radius: 4px;
    padding: 0 8px;
  }

  .x-input-el {
    font-size: 15px;
    color: #343C4F;
  }

  .x-icon-el.x-font-icon {
    color: #909AB5;
  }

  .x-underline-el {
    background-color: transparent;
  }

  &.x-focused .x-underline-el:before {
    height: 2px;
    background-color: transparent;
  }
}

.criterion_field_tagfield {
  .criterion_field_tagfield_tag {
    max-height: 30px;
    padding: 4px;
    margin: 4px;
    cursor: default;
    background-color: $base-color;
    color: $criterion-white;
    border-radius: 4px;
  }
}
