.ess-timesheet-detail-vertical, .ess-timesheet-detail, .ess-timesheet-detail-list {
  .total-hours {
    border-top: 1px solid #eaeaea;
    padding-bottom: 0 !important;

    .x-form-label, .x-input-el {
      color: $grid-cell-color;
    }

    .x-label-el {
      padding: 0.7em 0 0 1.4em;
    }

    .x-input-el {
      padding: 0.2em 0 0.4em 1.1em;
    }
  }

  .days-grid-header {
    background-color: #eaeaea;

    .date {
      padding: 0.5em 1em;
      font-size: 14px;
      background-color: #F4F4F4;
      margin-right: 1px;
    }

    .hours {
      padding: 0.5em 1em;
      font-size: 14px;
      background-color: #F4F4F4;
    }
  }

  .days-grid {
    //border-top: 3px solid #eaeaea;
  }

  .currentDate {
    color: $criterion-orange-ess;
    background-color: #FFF9E5;
  }

  .hrsStr {
    font-weight: bold;

    span {
      font-size: 10px;
    }

    &.zeroTimeCls {
      color: $criterion-gray;
      font-weight: normal;
    }
  }
}

.timesheet-empty-details {
  background-color: $criterion-b-gray;

  .x-panel-body-el {
    background-color: $criterion-b-gray;
  }

  .icon {
    background-image: url(../resources/images/timesheet_empty.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 123px;
  }

  .text {
    text-align: center;

    .title {
      font-size: 22px;
      font-weight: bold;
    }

    .desc {
      font-size: 14px;
    }
  }
}

.ess-geolocation-marker {
  &.ess-geolocation-inside {
    color: $criterion-green-d;
  }
  &.ess-geolocation-outside {
    color: $criterion-red;
  }
}
