.criterion_settings_job_details {
  .min {
    background-color: #FFD46F;
    padding: 0 5px;
    border-radius: 3px;
  }

  .max {
    background-color: #F78181;
    padding: 0 5px;
    border-radius: 3px;
  }
}
