.ess-pay-history {
  .gross-pay-text {
    display: block;
    color: $criterion-black;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    min-height: 30px;
  }

  .gross-pay-sub-text {
    font-weight: 600;
    font-size: 14px;
    color: $criterion-dark-gray;
  }

  &.light-grey-bg {
    background: $criterion-b-gray;
  }

  .grey-color {
    color: $criterion-b-gray !important;
  }

  .dataview-item {
    background: transparent;
    border: 0.5px solid #CED3DF;
    border-radius: 10px;
    margin-bottom: 10px;
    min-height: 70px;

    .label-text {
      color: #343C4F;
      font-weight: 600;
      font-size: 15px;
      width: 60%;
      padding: 0 20px;
      vertical-align: bottom;
    }

    .sub-label-text {
      color: #909AB5;
      font-weight: 600;
      font-size: 14px;
      vertical-align: top;
      padding: 0 20px;
    }

    .value-text {
      color: #343C4F;
      font-weight: 600;
      font-size: 15px;
      padding: 0;
      vertical-align: bottom;
      text-align: right;
    }

    .sub-value-text {
      color: #909AB5;
      font-weight: 600;
      font-size: 14px;
      vertical-align: top;
      padding: 0;
      text-align: right;
    }

    .details-arrow {
      color: #CED3DF;
      font-size: 25px;
    }

    .details-cell {
      width: 30px;
      padding: 10px 8px;
    }
  }

  .highlighted-dataview-item {
    background: #E5E8ED;
    opacity: 0.5;
    min-height: 54px;

    .label-text {
      color: #909AB5;
      font-weight: 600;
      font-size: 14px;
      vertical-align: middle;
    }

    .value-text {
      color: #0096EB;
      font-weight: 600;
      font-size: 15px;
      vertical-align: middle;
      padding-right: 25px;
    }
  }

  .pay-notes-icon {
    background-image: url(../resources/images/icons/pay_notes.svg);
    background-size: 24px 24px;
    width: 44px !important;
    height: 44px !important;
    display: inline-block;
    background-color: rgba(0, 150, 235, 0.06);
    box-shadow: 0 4px 15px rgba(238, 241, 250, 0.5);
    border-radius: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .incomes-icon {
    background-image: url(../resources/images/icons/incomes.svg);
    background-size: 24px 24px;
    width: 44px !important;
    height: 44px !important;
    display: inline-block;
    background-color: rgba(29, 197, 197, 0.06);
    box-shadow: 0 4px 15px rgba(238, 241, 250, 0.5);
    border-radius: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .taxes-icon {
    background-image: url(../resources/images/icons/taxes.svg);
    background-size: 24px 24px;
    width: 44px !important;
    height: 44px !important;
    display: inline-block;
    background-color: rgba(255, 73, 117, 0.06);
    box-shadow: 0 4px 15px rgba(238, 241, 250, 0.5);
    border-radius: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .deductions-icon {
    background-image: url(../resources/images/icons/deduction.svg);
    background-size: 24px 24px;
    width: 44px !important;
    height: 44px !important;
    display: inline-block;
    background-color: rgba(255, 177, 24, 0.06);
    box-shadow: 0 4px 15px rgba(238, 241, 250, 0.5);
    border-radius: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .payroll-no-data {
    min-height: 380px;

    .no-data-title {
      font-weight: 600;
      font-size: 22px;
      color: #343C4F;
      text-align: center;
      padding: 32px 0 6px;
    }

    .no-data-text {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #343C4F;
      text-align: center;
    }

    .no-data-image {
      display: block;
      background-image: url(../resources/images/payroll_nodata.svg);
      width: 100%;
      height: 157px;
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 100px;
    }
  }

  @media (max-width: 360px) {
    .gross-pay-text {
      font-size: 24px;
    }
  }
}
