.criterion-message-box {
  .text-container {
    padding-top: 15px !important;
  }

  .#{$prefix}btn-inner {
    text-transform: uppercase;
  }

  .#{$prefix}toolbar.#{$prefix}docked.#{$prefix}toolbar-footer {
    .#{$prefix}btn {
      margin-left: 10px;
    }
  }
}