.criterion-org-position-wrap {
  $color-light-blue: #9FC5F8;
  $color-deep-blue: $criterion-blue;
  $color-grey: #555555;
  $color-light-grey: #DDDDDD;
  $color-orange: $criterion-orange;
  $outer-box-padding: 4px;

  max-width: 500px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid $color-deep-blue;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #EEE;
  position: relative;

  .menu-holder {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
  }

  >.content {
    display: table;
    width: 100%;
    height: 120px;

    padding: $outer-box-padding*2 0 0 0;

    &>div {
      display: table-cell;
      vertical-align: top;
      padding: 0 $outer-box-padding;
    }

    p {
      margin-top: 0;
      margin-bottom: 10px;
      text-overflow: ellipsis;
      overflow: hidden;

      &.glyphed { // glyphed is taller
        position: relative;
        top: -4px;
        margin-bottom: 6px;
      }

      &.h1 {
        font-size: 1.2em;
        &.blue {
          color: $color-deep-blue;
        }
      }

      .ion {
        font-size: 1.2em;
        position: relative;
        top: 2px;
      }
    }

    .col-1 {
      width: 35px;
      img {
        width: 100%;
      }
    }
    .col-2 {
      width: auto;
    }
  }

  .footer {
    padding: 5px;
    border-top: 1px solid $color-deep-blue;

    p {
      margin: 0;
    }
  }

  &.position-unfilled {
    border-color: $color-orange;

    .content {
      position: relative;
    }

    .col-1 {
      span {
        padding: 2px 8px;
        position: absolute;
        left: 4px;
        top: 8px;
      }
    }

    .btn-fill {
      @include criterion-button($color-orange, darken($color-orange, 10), white, $color-orange, $criterion-button-border-radius);
    }

    .footer {
      border-color: $color-orange;
    }
  }

  &.position-full, &.position-short {
    .col-1 {
      width: 70px;
    }
    .col-2 {
      @include criterion-clearfix;

      div.left {
        float: left;
        width: 45%;
      }
      div.right {
        float: right;
        width: 45%;
      }
    }

    .footer {
      background-color: $color-deep-blue;

      p {
        color: white;
        font-weight: bold;
      }
    }
  }

  .gotoProfile {
    .x-btn {
      padding: 0;
      position: relative;
      top: 2px;
    }

    .x-btn-glyph {
      font-size: 1.4em;
    }
  }

  // helpers
  .nowrap {
    white-space: nowrap;
  }

  .label-blue {
    font-weight: normal;
    color: $color-deep-blue;
  }
  .label-orange {
    color: $color-orange;
    font-weight: bold;
    letter-spacing: 0.2px;
  }
}
