.ess-modern-recruiting-job-posting-candidate-detail {
  .descriptionLabel {
    .x-innerhtml {
      font-size: 0.85715rem;
      line-height: 1.33334em;

      span {
        color: #a0a0a0;
        font-weight: 600;
      }
    }
  }

  .descriptionBlock {
    .x-innerhtml {
      font-size: 1.14286rem;
      line-height: 1.375em;
      padding: 10px 0;
    }
  }

  .criterion_rating {
    .rating {
      padding: 0.625em 1.4em !important;
    }
  }
}
