.x-form-trigger-default {
  padding: 0;
}

.x-form-trigger-wrap-focus {
  .x-form-trigger::before {
    color: $base-color;
  }
}

.x-field:not(.filefield):not(.criterion-filefield) {
  &.x-item-disabled, &.x-form-readonly {
    .x-form-trigger {
      display: none;
    }

    .x-form-trigger-wrap {
      border-color: transparent;
    }
  }
}
