.#{$prefix}form-radio-default {
  @include font-icon($form-radio-glyph);
  color: $form-radio-glyph-color;

  .#{$prefix}form-cb-checked & {
    @include font-icon($form-radio-checked-glyph, $color: $criterion-ess-base-color);
  }
}

.#{$prefix}form-checkbox-default {
  @include font-icon($form-checkbox-glyph);
  color: $form-checkbox-glyph-color;

  .#{$prefix}form-cb-checked & {
    @include font-icon($form-checkbox-checked-glyph, $color: $criterion-ess-base-color);
  }
}


.#{$prefix}form-checkbox-focus {
  &.#{$prefix}form-checkbox-default {
    color: $form-checkbox-glyph-color;
    .#{$prefix}form-cb-checked & {
      color: $criterion-ess-base-color;
    }
  }
}