.criterion-employee-timesheet-dashboard-team-punch {

  .employee-skipped {
    .x-grid-cell-inner {
      color: #9a9a9a !important;
      font-style: italic !important;
      cursor: default !important;
    }
  }

  .time-el {
    margin: 0 0 14px 0;
  }

  .employees-grid {
    border: 1px solid #EEE;
  }
}
