.criterion-time-timesheet-vertical-top-bar {
  border-bottom: 1px solid $criterion-light-gray;

  .x-innerhtml {
    display: -webkit-inline-flex;
    display: inline-flex;
    background-color: $criterion-b-gray;
    padding: 0 10px;
    width: 100%;
  }

  .separator {
    flex: 1
  }

  .valueBlock {
    .title {
      color: $criterion-dark-gray;
      font-size: 12px;
    }

    .value, .hrsStr {
      color: $criterion-black;
    }

    .zeroTimeCls {
      color: $criterion-black !important;
    }
  }

  .overtime, .regIncome {
    margin-right: 10px;
  }
}
