$panel-base-color: #efefef !default; // todo var
$panel-body-background-color: $criterion-container-background !default;
$panel-header-color: #3c3c3c !default;
$panel-header-background-color: #f1f1f1;
$panel-header-font-size: $criterion-font-size-heading !default;
$panel-header-line-height: $panel-header-font-size + 2px; // specific for given font family
$panel-header-padding: 14px 19px 14px 24px !default;


