.criterion-time-timesheet-horizontal-top-bar {
  margin-bottom: 3px;

  .x-innerhtml {
    display: -webkit-inline-flex;
    display: inline-flex;
    background-color: $criterion-menu-bg-color;
    padding: 10px;
    border-top: 1px solid #A3CFF5;
    @include material-shadow(1);
    width: 100%;
  }

  .separator {
    flex: 1
  }

  .valueBlock {
    .title {
      color: #A3CFF5;
      font-size: 12px;
    }

    .value {
      color: #FFFFFF;
    }
  }

}
