.criterion-modern-html5editor {

  .x-innerhtml,
  .x-innerhtml:focus {
    outline-style: none !important;
    -webkit-user-select: text;
    user-select: text;
  }

  .x-innerhtml:empty:before{
    content: attr(placeholder);
    color: $textfield-placeholder-color;
    display: block; /* For Firefox */
  }
}
