.#{$prefix}picker-criterion-picker {
  border-radius: 10px 10px 0 0;

  .x-titlebar {
    background-color: $criterion-b-gray;

    &:before {
      content: '';
      position: absolute;
      text-align: center;
      display: inline-block;
      width: 100%;
      top: 20px;
      color: $criterion-black;
      font-size: 15px;
      font-weight: 600;
    }

    .x-button {
      .x-text-el {
        color: $criterion-blue;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  .x-dataview-item {
    &:before {
      content: '';
      width: 100%;
      height: 3px;
      border-style: solid;
      border-color: white;
      border-width: 1px 25px;
      background-color: $criterion-gray;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .x-dataview-item:nth-child(1) {
    &:before {
      display: none;
    }
  }

  .x-titlebar-body-el {
    min-height: 50px !important;
  }
}
