// Dummy overrides to style load mask

.x-mask.x-has-message {
  opacity: 1;
  background-color: rgba(224, 224, 224, 0.5);

  .x-mask-inner {
    height: auto;
    padding-top: 25%;
    width: 25%;
    border-radius: 50%;
    padding-bottom: 0;
  }

  .x-loading-spinner-outer {
    display: none;
  }

  .x-mask-message {
    position: absolute;
    color: white;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -0.5em;
  }

  .x-mask-inner {
    position: relative;
    background: $criterion-blue;
    color: #fff;
    text-align: center;
    font-size: 1em;
    font-weight: normal;
  }
}

.waiting-connection-mask {
  margin-top: -0.3em;

  .x-mask-inner {
    .x-mask-message {
      font-size: 0.75em;
      top: 30%;
    }
  }
}

.x-mask {
  #ext-viewport > .x-body > & {
    opacity: 1 !important;
    background-color: rgba(224, 224, 224, 0.5) !important;
  }
}
