@include messagebox-ui(
        $ui: 'rounded',
        $border-radius: 20px,
        $border-radius-big: 20px,
        $header-title-padding-big: 15px 0 8px 0
);

.x-messagebox-rounded-outer-border-rbl {
  .x-toolbar-body-el {
    border-top: 1px solid $criterion-gray;
  }
}
