@include toolbar-ui(
        $ui: 'rounded-corner',
        $background-color: transparent,
        $color: #909AB5,
        $font-weight: 600,
        $font-size: 15px !important,
        $box-shadow: none,
        $padding: 16px 13px 4px 13px,
        $padding-big: 16px 13px 4px 13px,
        $title-color: $toolbar-title-color,
        $title-font-weight: $toolbar-title-font-weight,
        $title-font-size: $toolbar-title-font-size,
        $title-padding: $toolbar-title-padding,
        $title-padding-big: $toolbar-title-padding-big,
        $min-height: 50px,
        $min-height-big: 50px
);