$enable-status-bar-padding: dynamic(false);
$base-color: dynamic($criterion-blue);
$font-weight-bold: dynamic(600);

$criterion-menu-bg-color: dynamic($criterion-blue);
$criterion-menu-color: #ffffff;

$criterion-menu-bg-selectors_btn: #008AE2;

$criterion-text-color: #343C4F;

$background-color: dynamic(if($dark-mode, #303030, #ffffff));

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}
