.criterion-splitbutton-menu {
  &.x-menu-default {
    border-color: $criterion-button-feature-border-color;
    border-top: none;
  }

  .x-menu-item {
    padding: 5px 9px;
  }

  .x-menu-body-default {
    background: $criterion-button-feature-background-color;
  }

  .x-menu-item-text {
    color: $criterion-button-feature-text-color;
  }

  &.criterion-side-add-field-menu .x-menu-item-active {
    background: $criterion-button-feature-background-over-color;
  }

  .x-menu-item-active {
    background: $criterion-button-feature-background-over-color;

    .x-menu-item-text {
      color: $criterion-button-feature-text-color;
    }
  }

  &.menu-feature {
    .x-menu-item {
      padding: 1px 12px;
    }

    .x-menu-item-text {
      color: $criterion-white;
      font-weight: 600 !important;
    }
  }

  &.menu-secondary {
    &.x-menu-default {
      border-color: rgba(0, 0, 0, 0.1);
    }

    .x-menu-item {
      padding: 1px 12px;
    }

    .x-menu-item-text {
      color: $battleship-grey;
      font-weight: 600 !important;
    }

    .x-menu-body-default {
      background: rgba(0, 0, 0, 0.03);
    }

    .x-menu-item-active {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &.splitbutton-remove {
    .x-menu-item {
      padding: 7px 9px;
    }

    .x-menu-item-text {
      color: $criterion-white;
    }

    &.x-menu-default {
      border-color: $criterion-remove-color;
    }

    .x-menu-body-default {
      background: $criterion-remove-color;
    }

    .x-menu-item-active {
      background: $criterion-remove-color;
    }
  }

  &.splitbutton-ess-feature {
    .x-menu-item-text {
      color: $criterion-white;
      font-weight: 600 !important;
    }
  }
}
