.x-tree-panel {
  .showOnGridItemHover {
    visibility: hidden;
  }

  .x-grid-item.x-grid-item-over {
    background-color: $criterion-grid-hover-background-color;

    .showOnGridItemHover {
      visibility: visible;
    }
  }
}

.#{$prefix}tree-view {
  .#{$prefix}grid-item-selected, .#{$prefix}grid-item-over, .#{$prefix}grid-item-focused {
    background: $tree-panel-selected-background;
    color: $tree-panel-selected-color;
  }
}

.criterion-side-tree {
  .#{$prefix}grid-item, .#{$prefix}grid-item-selected, .#{$prefix}grid-item-over, .#{$prefix}grid-item-focused {
    background: $criterion-side-bg-alternative-color !important;
    color: $criterion-side-text-alternative-color;
  }

  .#{$prefix}grid-item-selected, .#{$prefix}grid-item-over, .#{$prefix}grid-item-focused {
    background: $criterion-side-bg-color !important;
    color: $criterion-ess-base-color;
  }

  .x-tree-icon {
    display: none !important;
  }

  .x-grid-tree-node-expanded .x-tree-expander::after {
    @include rotate(180deg);
  }
}

//class for simple trees without node's icons and borders
.criterion-simple-tree {
  .x-tree-icon {
    display: none;
  }
  .x-grid-body {
    border: none;
  }
}

@include extjs-panel-ui(
        $ui: "criterion-side-tree",
        $ui-border-color: $criterion-side-border-color,
        $ui-border-radius: 0,
        $ui-border-width: 1,
        $ui-padding: $panel-frame-padding,
        $ui-header-color: $criterion-side-bg-alternative-color,
        $ui-header-font-family: $panel-header-font-family,
        $ui-header-font-size: $panel-header-font-size,
        $ui-header-font-weight: $panel-header-font-weight,
        $ui-header-line-height: $panel-header-line-height,
        $ui-header-border-color: $panel-frame-border-color,
        $ui-header-border-width: $panel-frame-header-border-width,
        $ui-header-border-style: $panel-header-border-style,
        $ui-header-background-color: $criterion-side-bg-alternative-color,
        $ui-header-background-gradient: $panel-header-background-gradient,
        $ui-header-inner-border-color: $panel-frame-header-inner-border-color,
        $ui-header-inner-border-width: $panel-frame-header-inner-border-width,
        $ui-header-text-padding: $panel-header-text-padding,
        $ui-header-text-margin: $panel-header-text-margin,
        $ui-header-text-transform: $panel-header-text-transform,
        $ui-header-padding: $panel-frame-header-padding,
        $ui-header-icon-width: $panel-header-icon-width,
        $ui-header-icon-height: $panel-header-icon-height,
        $ui-header-icon-spacing: $panel-header-icon-spacing,
        $ui-header-icon-background-position: $panel-header-icon-background-position,
        $ui-header-glyph-color: $panel-header-glyph-color,
        $ui-header-glyph-opacity: $panel-header-glyph-opacity,
        $ui-header-noborder-adjust: $panel-header-noborder-adjust,
        $ui-tool-spacing: $panel-tool-spacing,
        $ui-tool-background-image: $panel-tool-background-image,
        $ui-body-color: $criterion-side-text-alternative-color,
        $ui-body-border-color: $panel-body-border-color,
        $ui-body-border-width: $panel-frame-body-border-width,
        $ui-body-border-style: $panel-body-border-style,
        $ui-body-background-color: $criterion-side-bg-alternative-color,
        $ui-body-font-size: $panel-body-font-size,
        $ui-body-font-weight: $panel-body-font-weight,
        $ui-body-font-family: $panel-body-font-family,
        $ui-background-stretch-top: $panel-background-stretch-top,
        $ui-background-stretch-bottom: $panel-background-stretch-bottom,
        $ui-background-stretch-right: $panel-background-stretch-right,
        $ui-background-stretch-left: $panel-background-stretch-left,
        $ui-include-border-management-rules: $panel-include-border-management-rules,
        $ui-wrap-border-color: null,
        $ui-wrap-border-width: null,
        $ui-ignore-frame-padding: $panel-ignore-frame-padding
);

.criterion-tree-menu {

  background: $criterion-side-bg-color;

  .#{$prefix}grid-cell-inner-treecolumn {
    padding-bottom: 10px !important;
  }

  .#{$prefix}grid-row {
    color: $criterion-side-text-color;
    text-transform: uppercase;
  }
  .#{$prefix}grid-tree-node-leaf {
    color: $criterion-side-text-alternative-color;
    text-transform: none !important;
    margin-left: 15px !important;
    display: block;

    .#{$prefix}tree-elbow-img {
      display: none !important;
    }
  }
  .#{$prefix}grid-item, .#{$prefix}grid-item-focused {
    background: none !important;
    color: $criterion-side-text-color !important;
  }

  .#{$prefix}grid-item-selected {
    background-color: $criterion-side-bg-alternative-color !important;
    color: $criterion-side-text-alternative-color !important;
    width: 100% !important;
  }

  .#{$prefix}tree-elbow-img {
    background-image: none !important;
  }
  .#{$prefix}tree-elbow-img:after {
    display: block;
    width: auto;
    content: $ionicon-var-ios7-arrow-down;
    color: $criterion-side-text-color;
    font-family: Ionicons;
    font-size: 14px;
    position: absolute;
    right: 20px;
  }
}
