.#{$prefix}resizable-handle-northwest,
.#{$prefix}resizable-handle-southeast {
    transform: rotate(90deg);
}

.#{$prefix}resizable-handle-northwest {
    left: 10px;
}
.#{$prefix}resizable-handle-southeast {
    right: 10px;
}
