.criterion-recruiting-jobs-candidates {
  .x-grid-row .x-grid-cell > .x-grid-widgetcolumn-cell-inner {
    padding: 16px 25px;
  }

  .progress-bar {
    height: 16px !important;
    background-color: #FFFFFF;
    border: solid 1px #dcdcdc;

    .x-progress-bar-default {
      height: 12px;
      background-color: #0096eb;
      margin: 1px;
    }
  }

  .x-toolbar-default {
    background-color: transparent;
  }
}
