.x-gecko {
  .combobox-as-button {
    .x-form-trigger {
      left: 0 !important;
    }
  }
}

.x-edge, .x-ie11 {
  .combobox-as-button {
    .x-form-trigger {
      top: 1px !important;
    }
  }

  .ux-rating-picker {
    top: 0 !important;
  }
}

.criterion-recruiting-jobs-job-candidate-details, .criterion_recruiting_candidate_details {

  .combobox-as-button {
    .x-form-trigger-wrap-default {
      border: none;
    }
    .x-form-trigger {
      width: 24px;
      left: -11px;
      background-image: none;
      padding: 13px;
      top: 5px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        background-color: $criterion-light-blue;
        border-radius: 24px;
      }

      &:after {
        position: absolute;
        left: 0;
        top: 12px;

        font-family: Ionicons;
        content: $ionicon-var-ios7-more-outline;
        font-weight: bold;
        color: $criterion-blue;
        width: 24px;
        height: 24px;
      }
    }

    .x-form-text-wrap {
      position: absolute;
      top: -10000px;
    }
  }

  .rating {
    border: none;
    float: left;
    padding: 0;
    margin: 0 -4px;

    & > label {
      float: right;

      &:before {
        color: $criterion-light-gray;
        margin: 5px;
        font-size: 1.25em;
        font-family: Ionicons;
        display: inline-block;
        content: $ionicon-var-ios7-star;
      }

      &.half:before {
        color: transparent;
        content: $ionicon-var-ios7-star-half;
        position: absolute;
      }

      &.selected:before {
        color: $rating-picker-selected-color;
      }

    }
  }

  .criterion_recruiting_navigation {
    .criterion-tabbar {
      background-color: $criterion-b-gray !important;
      padding: 0 10px 10px 10px !important;

      .x-tab-inner-default {
        color: $criterion-black;
        font-weight: 600;
        text-transform: uppercase;
      }

      .x-tab {
        .x-tab-inner {
          color: $criterion-black;
          font-weight: 600;
          text-transform: uppercase;
        }
      }

      .x-tab-focus {
        box-shadow: none;
      }

      .x-box-scroller-top, .x-box-scroller-bottom {
        background: none;
      }
    }

    &.left_pos {
      .criterion-tabbar {
        .x-tab-bar-body-default {
          padding: 0 0 40px 0;
        }

        .x-tab-default {
          background-color: $criterion-white;
          border-color: $criterion-white !important;
          padding: 10px 25px;

          &:first-child {
            border-radius: 6px 6px 0 0;
          }

          &:last-child {
            border-radius: 0 0 6px 6px;
            box-shadow: 0 2px 0px rgba(145, 145, 145, 0.08);
          }
        }

        .x-tab-active {
          border-color: $criterion-blue !important;
          border-width: 0 0 0 5px;
          border-style: solid;
          padding: 10px 29px 10px 19px;

          &:first-child {
            border-radius: 0 6px 0 0;
          }

          &:last-child {
            border-radius: 0 0 6px 0;
          }

          .x-tab-inner {
            color: $criterion-blue !important;
          }
        }
      }
    }

    &.top_pos {
      .criterion-tabbar {
        .x-tab-bar-body-default {
          padding: 10px 0 10px 0;
        }

        .x-tab-default {
          background-color: transparent !important;
          border-color: transparent !important;
          padding: 0 10px 5px 10px;
        }

        .x-tab-active {
          border-color: $criterion-blue !important;
          border-width: 0 0 3px 0;
          border-style: solid;
          padding: 0 0 5px 0;

          .x-tab-inner {
            color: $criterion-blue !important;
          }
        }
      }
    }
  }

  .topDetails {
    background-color: #f9f9fd !important;

    .x-panel-bodyWrap {
      border-radius: 6px;
      box-shadow: 0 -4px 20px rgba(145, 145, 145, 0.08);
    }
  }

  .topInfoBar {
    .first-line {
      .x-box-inner {
        border-bottom: 1px solid #ebebeb !important;
      }

      .candidateTitle {
        font-weight: 600;
        font-size: 22px;
        line-height: 22px;
        color: $criterion-black;
      }
    }

    .second-line {
      border-bottom: 2px solid #f1f4fa !important;

      .criterion-display-only-field {
        .x-form-text-default {
          font-size: 15px;
          height: 39px;
        }

        .criterion-list-item-icon {
          padding-top: 11px;
          font-size: 17px;
        }
      }

      .x-autocontainer-form-item {
        margin-bottom: 0;
      }
    }
  }

  //
  .criterion-side-panel {

    .job-posting-title {
      font-size: 16px;
      font-weight: 600;
    }

    .candidates-count {
      text-transform: uppercase;
    }

    .criterion-btn-transparent {
      .x-btn-glyph, .x-btn-inner {
        color: $criterion-side-text-color !important;
      }
    }

    .info {
      border-width: 1px 0;
      border-style: solid;
      border-color: $criterion-side-border-color;

      .x-component {
        color: $criterion-white;
        padding: 2px 0;
        @include wordwrap;

        &.highlight {
          color: $criterion-side-text-color;
          padding-bottom: 10px;
        }
      }
    }

    .x-grid {
      .x-panel-body-default {
        background-color: $criterion-side-bg-alternative-color;
        border-color : $criterion-side-border-color !important;
      }
      .x-grid-item {
        background-color: transparent !important;
        border-color : $criterion-side-border-color !important;

        &.x-grid-item-selected {
          .x-grid-td {
            border-left: 3px solid $criterion-side-border-color;
          }
        }

        &:last-child {
          border-bottom-width: 1px;
        }

        .x-grid-cell-inner {
          color: white;

          & > div {
            padding: 3px 0;
            @include wordwrap;
          }

          .highlight {
            color: $criterion-side-text-color;
            padding-bottom: 10px;
          }
        }
      }
    }
  }

  .minimized-header .x-title-text-default {
    font-size: 14px !important;
  }

  .x-html-editor-input {
    border-width: 0;
  }

  .x-html-editor-container {
    border: none;
  }

}
