.criterion_recruiting_jobs_publish {

  .criterion-btn-transparent {

    .x-btn-inner {
      position: relative;

      i {
        position: absolute;
        font-style: normal;
        font-size: 10px;
        color: #960606;
        top: -4px;
        right: 4px;
        font-weight: bold;
      }
    }

    .x-btn-glyph {
      color: #111 !important;
      font-size: 25px;
    }
  }
}
