.criterion_common_document_mass_upload {
  .upload-zone {
    border: 2px dashed $criterion-border-light-grey;
    background-color: $criterion-b-gray;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    & > .x-panel-bodyWrap > .x-panel-body-default {
      background-color: $criterion-b-gray;

      .x-autocontainer-innerCt {
        vertical-align: middle;
      }
    }

    .upload-text {
      span.icon {
        font-family: $ionicons-font-family;
        font-size: 28px;
        color: #9d9d9d;
        position: relative;
        top: 6px;
      }

      .description {
        color: #3c3c3c;
        margin-left: 10px;
        font-weight: bold;
      }
    }
  }
}
