.criterion_common_document_tree {
  .#{$prefix}tree-view {
    .#{$prefix}grid-item-selected {
      background: rgba(0, 150, 235, 0.10) !important;
    }

    .#{$prefix}grid-item-focused {
      background: transparent !important;
    }

    .edit-btn {
      font-size: 18px !important;
    }

  }
}
