.criterion-tabpanel {
  .x-panel-body-default {
    background: $criterion-container-background;
  }
}

.appVersionLabel {
  position: absolute;
  top: 100%;
  margin-top: -35px;
  left: 20px;
  font-size: 11px;
  color : #777;
}
