.x-tab-collapse-btn {
  position: absolute;
  top: 10px;
  right: 20px;

  &:after {
    display: block;
    width: auto;

    content: $ionicon-var-ios7-arrow-down;
    color: $criterion-tab-bar-left-item-color;

    font-family: Ionicons;
    font-size: $font-size;
  }

  .expanded & {
    &:after {
      content: $ionicon-var-ios7-arrow-up;
    }
  }
}