$criterion-question-color: $base-color;
$criterion-info-color: $base-color;
$criterion-warning-color: $criterion-red;
$criterion-error-color: $criterion-red;

.criterion-message-box {

  &.criterion-modal-delete {
    .x-header {
      background-color: $criterion-remove-color;
    }
    .x-toolbar-footer {
      background-color: #fff;
    }
  }

  .text-container {
    padding : 25px 20px !important;

    .x-container {
      padding-top: 7px;
      font-size: 15px;
      color: #3c3c3c;

      .x-window-text {
        .error {
          color: $criterion-error-color;
        }

        strong {
          font-weight: $criterion-font-weight-semibold;
        }
      }
    }
  }

  .x-progress {
    height: 38px;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    @include box-shadow(0px 0px 0px 1px #ededed);
    border-width: 4px;

    .x-progress-text {
      color: #fff;
      padding: 5px 0;
      font-size: 14px;
      font-weight: $criterion-font-weight-semibold;

      &.x-progress-text-back {
        color: #666;
      }
    }

    .x-progress-bar {
      @include top-gradient(lighten($base-color, 5), darken($base-color, 5));
    }
  }

  .x-message-box-icon.x-message-box-info {
    background-image: none;
    text-align: center;

    &:after {
      font-family: Ionicons;
      content: $ionicon-var-information-circled;
      color: $criterion-info-color;
      font-size: 32px;
      line-height: 32px;
    }
  }

  .x-message-box-icon.x-message-box-warning {
    background-image: none;
    text-align: center;

    &:after {
      font-family: Ionicons;
      content: $ionicon-var-android-warning;
      color: $criterion-red;
      font-size: 32px;
      line-height: 32px;
    }
  }

  .x-message-box-icon.x-message-box-error {
    background-image: none;
    text-align: center;

    &:after {
      font-family: Ionicons;
      content: $ionicon-var-close-circled;
      color: $criterion-red;
      font-size: 32px;
      line-height: 32px;
    }
  }

  .x-message-box-icon.x-message-box-question {
    background-image: none;
    text-align: center;

    &:after {
      font-family: Ionicons;
      content: $ionicon-var-help-circled;
      color: $criterion-question-color;
      font-size: 32px;
      line-height: 32px;
    }
  }
}
