.criterion-tree-menu{
  .#{$prefix}tree-elbow-img:after {
    content: '';
    display: none;
  }
}

.criterion-grid-panel {
  .x-panel-header-title {
    color: #282e3a;
    font-size: 16px !important;
    font-weight: 600 !important;
  }

  .x-tree-view {
    background: white;
  }

  .x-grid-cell {
    background: white;
  }

  .x-grid-item-over {

    .x-grid-cell {
      background: rgba(0, 0, 0, 0.04) !important;
    }
  }

  .x-tree-icon-leaf:before {
    content: "\f12f";
  }

  .x-tree-icon-parent-expanded:before {
    content: "\f38a";
  }

  .x-tree-icon-parent:before {
    content: "\f2e0";
  }
}
