body {
    background-size: contain;
}

.auth-s-window {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex: 1;
    -webkit-flex: 1 1 auto;
}

.flex-spacer {
    flex: 1;
    -webkit-flex: 1 1 auto;
}

.main-panel {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    align-self: flex-end;
}

.links {
    background-color: #ffffff;
    min-height: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
}

ul.links li {
    color: #000000;
}

ul.links li a {
    color: #0096EB;
    font-weight: bold;
}