/**
 * @var {color}
 * The base color of the active Tabs
 */
$tab-base-color-active: dynamic($criterion-ess-base-color);

/**
 * @var {number}
 * Tab opacity when hovered
 */
$tab-opacity-over: 0.5;

/**
 * @var {color}
 * The text color of hovered Tabs
 */
$tab-color-over: #FFFFFF;

/**
 * @var {color}
 * The base color of hovered Tabs
 */
$tab-base-color-over: dynamic(darken($criterion-ess-base-color, 5%));
