.criterion_selfservice_preferences {
  .h2 h2 {
    color: $criterion-blue !important;
    font-size: 1.1em;
    font-weight: normal;
  }

  .error {
    color: $criterion-red;
  }

  .notMatch {
    color: $criterion-orange;
  }

  .match {
    color: $criterion-green;
  }
}
