.criterion-signature-pad {
  .clear-trigger {
    width: 20px;
    height: 20px;
    top: -10px;
    right: -10px;
    position: absolute;
    border: 1px solid $criterion-light-gray;
    border-radius: 10px;
    background-color: $criterion-border-light-grey;
    cursor: pointer;

    &:after {
      content: '\1F5D1';
      color: $criterion-darken-gray;
      position: absolute;
      left: 5px;
      top: 0;
      font-size: 12px !important;
      font-weight: bold;
    }
  }
}
