$button-small-font-size: $font-size !default;
$button-small-padding: dynamic (9px 7px);
$button-small-border-radius: 0px !default;
$button-medium-border-radius: 0px !default;
$button-large-border-radius: 0px !default;
$button-default-inner-border-width-focus: 0 !default;
$button-toolbar-inner-border-width-focus: 0 !default;
$button-default-glyph-opacity: 1 !default;

$button-small-padding: 9px 10px !default;
$button-small-text-padding: 10px !default;
$button-default-border-color: transparent !default;

$criterion-button-treenav-color: dynamic(#4D576D);
$criterion-button-treenav-text-color: dynamic(#FFFFFF);
$criterion-button-treenav-padding: dynamic(6px);
$criterion-button-treenav-text-padding: dynamic(8px);
